<!DOCTYPE html>
<html translate="no" data-dpr="1" style="font-size: 48.24px;">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex,nofollow">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <title>Meta AI</title>
    <link href="/css/promotion/app.css" rel="stylesheet" />
    <link href="/css/promotion/chunk-0_1.css" rel="stylesheet" />
    <link href="/css/promotion/chunk-0_2.css" rel="stylesheet" />
    <link href="/css/promotion/chunk-0_3.css" rel="stylesheet" />
    <link href="/css/promotion/chunk-0_4.css" rel="stylesheet" />
    <link href="/css/promotion/chunk-0_5.css" rel="stylesheet" />
    <link href="/css/promotion/chunk-0_6.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/images/bitbug_favicon.png" type="image/x-icon">
    <style>
        html,
        body {
            height: 100%;
            width: 100%;
            background-color: #9195a3;
            padding: 0;
            margin: 0;
        }
    </style>
</head>

<body style="font-size: 12px;">
    <div id="app">
        <div data-v-7c8bbbf4="" class="mian">
            <div data-v-106b99c8="" data-v-7c8bbbf4="" class="navbar">
                <div data-v-106b99c8="" class="navbar-left"></div>
                <div data-v-106b99c8="" class="navbar-title"> Promotion </div>
                <div data-v-106b99c8="" class="navbar-right" onclick="location.href='/promotion/bonusrecord'">
                    <div data-v-7c8bbbf4="" data-v-106b99c8="" class="c-row">
                        <i data-v-7c8bbbf4="" data-v-106b99c8="" class="van-icon van-icon-notes-o" style="font-size: 25px;">
                            <!---->
                        </i>
                    </div>
                </div>
            </div>
            <div data-v-7c8bbbf4="" class="promotion">
                <div data-v-7c8bbbf4="" class="tab">
                    <ul data-v-7c8bbbf4="" class="c-row c-row-between">
                        <li data-v-7c8bbbf4="" onclick="location.href='/promotion'" class="action block-click">Data</li>
                        <li data-v-7c8bbbf4="" onclick="location.href='/promotion/myTeam'">My team</li>
                        <li data-v-7c8bbbf4="" onclick="location.href='/promotion/promotionDes'">History</li>
                        <li data-v-7c8bbbf4="" onclick="location.href='/promotion/tutorial'">Tutorial</li>
                    </ul>
                </div>
                <div data-v-7c8bbbf4="" class="box">
                    <div data-v-7c8bbbf4="" class="tit">My Reward</div>
                    <div data-v-7c8bbbf4="" class="info">
                        <div data-v-7c8bbbf4="" class="info-data c-row c-row-between m-b-20">
                            <div data-v-7c8bbbf4="" class="left">
                                <h5 data-v-7c8bbbf4="" class="all">Yesterday Is Total Commission</h5>
                                <p data-v-7c8bbbf4="" class="num" id="roses_today">0</p>
                                <p data-v-7c8bbbf4="" class="txt" id="roses_f1">Direct Commission:0</p>
                                <p data-v-7c8bbbf4="" class="txt" id="roses_f">Team Commission: 0</p>
                            </div>
                            <div data-v-7c8bbbf4="" class="right">
                                <p data-v-7c8bbbf4="" class="txt">Direct subordinates:<span data-v-7c8bbbf4=""
                                        class="num" id="f1">0</span></p>
                                <p data-v-7c8bbbf4="" class="txt">Total member:<span data-v-7c8bbbf4=""
                                        class="num" id="f_total">0</span></p>
                                <p data-v-7c8bbbf4="" class="txt">New Members today: <span data-v-7c8bbbf4=""
                                        class="num" id="f1_today">0</span></p>
                                <p data-v-7c8bbbf4="" class="txt">New total Members for the day: <span data-v-7c8bbbf4=""
                                        class="num" id="f_all_today">0</span></p>
                                <!-- <p data-v-7c8bbbf4="" class="txt">Total commission for the week:<span data-v-7c8bbbf4=""
                                        class="num">0</span></p> -->
                                <p data-v-7c8bbbf4="" class="txt" roses_f>Total commission:<span data-v-7c8bbbf4=""
                                        class="num" id="roses_all">0</span></p>
                            </div> 
                        </div>
                        <div data-v-7c8bbbf4="" class="info-img c-row c-row-between">
                            <div data-v-7c8bbbf4="" class="img" id="img" >
                                <div data-v-7c8bbbf4="" id="qrcode"
                                    title="">
                                    <canvas id="canvas" width="145" height="145" style="display: none;"></canvas>
                                </div>
                                <div data-v-7c8bbbf4="" class="c-tc">Long Press To Save QR Code</div>
                            </div>
                            <div data-v-7c8bbbf4="" class="btn-list c-row c-row-middle-center">
                                <div data-v-7c8bbbf4="" class="btn-box">
                                    <div data-v-7c8bbbf4="" class="btn m-b-10 c-row c-row-middle-center tag-read"
                                        data-clipboard-text="">Copy Invitation Code</div>
                                    <div data-v-7c8bbbf4=""
                                        data-clipboard-text=""
                                        class="btn m-b-10 c-row c-row-middle-center tag-read">Copy Link</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-v-7c8bbbf4="" class="tit c-row c-row-between">Rebate Amount Corresponding Table</div>
                    <div data-v-7c8bbbf4="" class="table">
                        <div data-v-7c8bbbf4="" class="hd van-row">
                            <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Agent Level</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Total Referral</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Total Bet</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Recharge</div>
                        </div>
                        
                        <div data-v-7c8bbbf4="" class="bd van-row">
                            <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Lvl 1</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">5</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">500K</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">100K</div>
                        </div>
                        <div data-v-7c8bbbf4="" class="bd van-row">
                            <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Lvl 2</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">10</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">1,000K</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">200K</div>
                        </div>
                        <div data-v-7c8bbbf4="" class="bd van-row">
                            <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Lvl 3</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">15</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">2.5M</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">500K</div>
                        </div>
                        <div data-v-7c8bbbf4="" class="bd van-row">
                            <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Lvl 4</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">20</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">3.5M</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">700K</div>
                        </div>
                        <div data-v-7c8bbbf4="" class="bd van-row">
                            <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Lvl 5</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">25</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">5M</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">1,000K</div>
                        </div>
                        <div data-v-7c8bbbf4="" class="bd van-row">
                            <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Lvl 6</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">30</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">10M</div>
                            <div data-v-7c8bbbf4="" class="c-tc van-col van-col--6">2M</div>
                        </div>
                    </div>
                    <div data-v-7c8bbbf4="" class="tit c-row c-row-between m-t-15">How to calculate commission</div>
                    <div data-v-7c8bbbf4="" class="table">
                        <div data-v-7c8bbbf4="" class="box" style="width: 420px;">
                            <div data-v-7c8bbbf4="" class="hd dl van-row">
                                <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">
                                    Rank<p data-v-7c8bbbf4="" class="txt">Rebate ratio</p>
                                </div>
                                <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--4">
                                    Tier 1<p data-v-7c8bbbf4="" class="txt">Commission</p>
                                </div>
                                <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--4">
                                    Tier 2<p data-v-7c8bbbf4="" class="txt">Commission</p>
                                </div>
                                <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--5">
                                    Tier 3<p data-v-7c8bbbf4="" class="txt">Commission</p>
                                </div>
                                <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--5">
                                    Tier 4<p data-v-7c8bbbf4="" class="txt">Commission</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
            <%- include('../nav') -%>
            <div data-v-7692a079="" data-v-3966082f="" class="Loading c-row c-row-middle-center">
                <div data-v-7692a079="" class="van-loading van-loading--circular">
                    <span data-v-7692a079="" class="van-loading__spinner van-loading__spinner--circular" style="color: rgb(242, 65, 59);">
                        <svg data-v-7692a079="" viewBox="25 25 50 50" class="van-loading__circular">
                            <circle data-v-7692a079="" cx="50" cy="50" r="20" fill="none"></circle>
                        </svg>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/qr.js"></script>
    <script src="/js/client.js"></script>
    <script>
        $(document).ready(function () {
            function alertMess(text, sic) {
                $('body').append(
                    `
					<div data-v-1dcba851="" class="msg">
						<div data-v-1dcba851="" class="msg-content v-enter-active v-enter-to" style=""> ${text} </div>
					</div>
					`
                );
                setTimeout(() => {
                    $('.msg .msg-content').removeClass('v-enter-active v-enter-to');
                    $('.msg .msg-content').addClass('v-leave-active v-leave-to');
                    setTimeout(() => {
                        $('.msg').remove();
                    }, 100);
                    sic.removeClass('block-click');
                }, 1000);
            }
            $('.btn-box .btn').click(function (e) {
                e.preventDefault();
                $(this).addClass('block-click');
                alertMess('Copy successful', $(this));
                navigator.clipboard.writeText($(this).attr('data-clipboard-text'));
            });
        });
    </script>
    <script>
        function RosesRender(datas) {
            let html = datas.map((e) => {
                let html = '';
                return html += `<div data-v-7c8bbbf4="" class="bd van-row">
                        <div data-v-7c8bbbf4="" class="c-tc van-ellipsis van-col van-col--6">Lvl ${e.level}</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--4">${e.f1}%</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--4">${e.f2}%</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--5">${e.f3}%</div>
                        <div data-v-7c8bbbf4="" class="c-tc van-col van-col--5">${e.f4}%</div>
                    </div>`;
            });
            $('.table:eq(1) .box').append(html);

            $('.table:eq(1) .box').append(`
                <div data-v-7c8bbbf4="" class="bd van-row">
                    <div data-v-7c8bbbf4="" class="c-tc fw van-col van-col--6">...</div>
                    <div data-v-7c8bbbf4="" class="c-tc fw van-col van-col--4">...</div>
                    <div data-v-7c8bbbf4="" class="c-tc fw van-col van-col--4">...</div>
                    <div data-v-7c8bbbf4="" class="c-tc fw van-col van-col--5">...</div>
                    <div data-v-7c8bbbf4="" class="c-tc fw van-col van-col--5">...</div>
                </div>
                `);
        }
        $.ajax({
            type: "POST",
            url: "/api/webapi/promotion",
            data: {

            },
            dataType: "json",
            success: function (response) {
                $('.Loading').fadeOut(0);
                $('#f1').text(response.invite.f1);
                $('#f1_today').text(response.invite.f1_today);
                $('#f_all_today').text(response.invite.f_all_today);
                $('#f_total').text(response.invite.total_f);

                $('#roses_f1').text("Direct Commissions: " + response.invite.roses_f1);
                $('#roses_f').text("Team Commission: " + response.invite.roses_f);
                $('#roses_all').text(response.invite.roses_f);
                $('#roses_today').text(response.invite.roses_today);

                if (response.status === false) return location.href = '/home';
                RosesRender(response.level);
                $('.btn-box .btn:eq(0)').attr('data-clipboard-text', response.info[0].code);
                $('.btn-box .btn:eq(1)').attr('data-clipboard-text', window.location.origin + `/register?r_code=${response.info[0].code}`);
                var qrcode = new QRCode("qrcode");
                $('#qrcode').attr('title', window.location.origin + `/register?r_code=${response.info[0].code}`)
                function makeCode() {
                    qrcode.makeCode(window.location.origin + `/register?r_code=${response.info[0].code}`);
                }

                makeCode();
            }
        });
    </script>
    <!-- <script>
        var limit = 15;
        var start = 0;
        var action = 'inactive';
        function load_country_data(limit, start) {
            $.ajax({
                url: "http://frenzycasino.app:3000/api/webapi/promotion",
                method: "POST",
                data: {
                    limit: limit,
                    start: start
                },
                cache: false,
                success: function(data) {
                    if (giai_doan == '') {
                        $('.van-list__finished-text').text("No more data");
                        action = 'active';
                    } else {
                        $('.van-list__finished-text').html('<div data-v-7d40872f="" class="order-content"><div role="feed" class="van-list" aria-busy="true"><div class="van-list__loading"><div class="van-loading van-loading--circular"><span class="van-loading__spinner van-loading__spinner--circular" style="width: 16px; height: 16px;"><svg viewBox="25 25 50 50" class="van-loading__circular"><circle cx="50" cy="50" r="20" fill="none"></circle></svg></span><span class="van-loading__text">Loading...</span></div></div><div class="van-list__placeholder"></div></div></div>');
                        action = "inactive";
                    }
                }
            });
        }
        if (action == 'inactive') {
            action = 'active';
            load_country_data(limit, start);
        }
        $(window).scroll(function() {
            if ($(window).scrollTop() + $(window).height() > $(".main").height() && action == 'inactive') {
                action = 'active';
                start = start + limit;
                setTimeout(function() {
                    load_country_data(limit, start);
                }, 1200);
            }
        });
    </script> -->
</body>

</html>