<div data-v-42f27458="" class="game-head">
  <div data-v-42f27458="" class="total-box">
    <div data-v-42f27458="" class="c-row c-row-between c-row-middle info">
      <div data-v-42f27458="" class="c-row c-row-middle">
        <div data-v-42f27458="" class="m-r-10">
          <div data-v-42f27458="" class="van-image" style="width: 60px; height: 60px">
            <img src="/images/icon_wallet.webp" class="van-image__img" />
          </div>
        </div>
        <div data-v-42f27458="">
          <h3 data-v-42f27458="" class="total m-b-5">Total</h3>
          <span data-v-42f27458="" class="wallet">Balance</span>
        </div>
      </div>
      <div data-v-42f27458="" class="c-row c-row-middle">
        <div data-v-42f27458="" class="num">
          <!----><span data-v-42f27458="" id="money_show"> Loading... </span>
        </div>
        <div data-v-42f27458="" class="van-image img m-l-10" style="width: 15px; height: 15px" id="reload_money">
          <img src="/images/refresh.png" class="van-image__img" />
        </div>
      </div>
    </div>
    <div data-v-42f27458="" class="total-btn c-row c-row-between">
      <div data-v-42f27458="" class="item" onclick="location.href='/wallet/withdrawal'">
        <button data-v-42f27458=""
          class="btn van-button van-button--default van-button--normal van-button--block van-button--round" style="
            color: rgb(255, 255, 255);
            background: rgb(255, 206, 31) !important;
            border-color: rgb(255, 206, 31) ;
          ">
          <div data-v-42f27458="" class="van-button__content">
            <span data-v-42f27458="" class="van-button__text"> Withdraw </span>
          </div>
        </button>
      </div>
      <div data-v-42f27458="" class="item" onclick="location.href='/wallet/recharge'">
        <button data-v-42f27458=""
          class="btn van-button van-button--default van-button--normal van-button--block van-button--round" style="
            color: rgb(255, 255, 255);
            background: rgb(242, 65, 59) !important;
            border-color: rgb(242, 65, 59);
          ">
          <div data-v-42f27458="" class="van-button__content">
            <span data-v-42f27458="" class="van-button__text"> Recharge </span>
          </div>
        </button>
      </div>
    </div>
  </div>
  <div data-v-42f27458="" class="m-t-15 notice">
    <div data-v-42f27458="" role="alert" class="van-notice-bar" style="font-size: 15px; background-color: #3a3a3a;">
      <i class="van-icon van-icon-volume-o van-notice-bar__left-icon">
        <!---->
      </i>
      <div role="marquee" class="van-notice-bar__wrap">
        <div class="van-notice-bar__content" style="transition-duration: 120s; transform: translateX(10px,10px)">
          Notive :To visit our official website, be sure to use the link below, https://frenzycasino.app Please remember! Make sure not provide personal data and personal transactions in any form and for any reason to other parties on behalf of Meta AI. Our side does not make private chats or calls to all members. Please inform all Referrals/other Members about this to avoid fraud. Thank you for your attention and cooperation.
        </div>
      </div>
    </div>
  </div>
</div>