<div data-v-42f27458="" class="game-list">
    <div data-v-42f27458="" class="tab c-row c-row-between">
      <div data-v-42f27458="" class="li c-row c-row-center block-click" id="GetNoaverageEmerdList">
        <span data-v-42f27458="" class="txt action"> Game History </span>
      </div>
      <div data-v-42f27458="" class="li c-row c-row-center" id="GetMyEmerdList">
        <span data-v-42f27458="" class="txt"> My Bets </span>
      </div>
    </div>
    <div data-v-42f27458="" class="con-boxp-b-20">
      <div data-v-42f27458="" class="list m-t-10 " id="all">
        <div data-v-42f27458="" class="wrap">
          <div data-v-42f27458="" class="c-tc van-row">
            <div data-v-42f27458="" class="van-col van-col--8"> Periods </div>
            <div data-v-42f27458="" class="van-col van-col--12"> Result </div>
            <div data-v-42f27458="" class="van-col van-col--4">  Sum </div>
          </div>
        </div>
        <div data-v-42f27458="">
          <div data-v-42f27458="" class="hb" id="list_order">
            <!---->
          </div>
        </div>
        <div data-v-42f27458="" class="list-fooder"></div>
      </div>
      <div data-v-42f27458="" class="list m-t-10 " id="me" style="display: none;">
        <div data-v-42f27458="">
          <div data-v-42f27458="" class="hb" id="showJoinMe">
            <!---->
          </div>
        </div>
        <div data-v-42f27458="" class="list-fooder"></div>
      </div>
      <div data-v-42f27458="" class="page-nav c-row c-row-center c-tc">
        <div data-v-42f27458="" class="arr c-row c-row-middle-center block-click" id="previous"><i data-v-42f27458=""
            class="van-icon van-icon-arrow-left icon" style="font-size: 20px;">
            <!---->
          </i></div>
        <div data-v-42f27458="" class="number" id="number_result" data-select="all">
          <!---->
        </div>
        <div data-v-42f27458="" class="arr c-row c-row-middle-center action" id="next"><i data-v-42f27458=""
            class="van-icon van-icon-arrow icon action" style="font-size: 20px;">
            <!---->
          </i></div>
      </div>
    </div>
  </div>