<!DOCTYPE html>
<html translate="no" data-dpr="1" style="font-size: 48.24px;">
<title>Meta Play Ai</title>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex,nofollow">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <title>Meta AI</title>
    <link href="/css/checkIn/chunk-vendors.css" rel="stylesheet" />
    <link href="/css/checkIn/app.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/bet/wingo/main.css" />
    <link rel="stylesheet" href="/css/bet/wingo/chunk-4e7d3985.25c9d2c0.css" />
    <link rel="stylesheet" href="/css/bet/wingo/chunk-4e7d3985.25c9d2c1.css" />
    <link rel="stylesheet" href="/css/bet/wingo/chunk-4e7d3985.25c9d2c2.css" />
    <link rel="stylesheet" href="/css/bet/wingo/chunk-4e7d3985.25c9d2c3.css" />
    <link rel="stylesheet" href="/css/bet/wingo/chunk-4e7d3985.25c9d2c4.css" />
    <link href="/css/checkIn/chunk.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/images/bitbug_favicon.png" type="image/x-icon">
    <style>
        html,
        body {
            height: 100%;
            width: 100%;
            background-color: #9195a3;
            padding: 0;
            margin: 0;
        }

        .block-click {
            pointer-events: none;
        }

        .activity-panel-header.lg3[data-v-30ca6441] {
            padding: 0 0.58667rem;
        }

        .activity-panel-header[data-v-30ca6441] {
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-align: self-start;
            -webkit-align-items: self-start;
            align-items: self-start;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            justify-content: space-between;
        }

        .activity-panel-header .header-item[data-v-30ca6441] {
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            flex-direction: column;
            color: #666;
            width: 1.33333rem;
            -webkit-box-align: center;
            -webkit-align-items: center;
            align-items: center;
            text-align: center;
        }

        .van-badge__wrapper {
            position: relative;
            display: inline-block;
        }

        .activity-panel-header .header-item .bgcontainer.a2[data-v-30ca6441] {
            background-image: -webkit-linear-gradient(top, #5CA6FF 0%, #A9E5FF 100%);
            background-image: linear-gradient(180deg, #5CA6FF 0%, #A9E5FF 100%);
        }

        .activity-panel-header .header-item .bgcontainer[data-v-30ca6441] {
            width: 1.06667rem;
            height: 1.06667rem;
            border-radius: 0.26667rem;
            padding: 0.13333rem;
            box-shadow: 0 -0.05333rem 0.16rem #fff inset, 0 0.10667rem 0.21333rem #d0d0ed5c;
            margin-bottom: 0.29333rem;
        }

        .activity-panel-header .header-item .bgcontainer.a2[data-v-30ca6441]:after {
            background-image: url(/images/activityIcon2-65587a73.png);
        }

        .activity-panel-header .header-item .bgcontainer[data-v-30ca6441]:after {
            content: "";
            display: block;
            width: 0.8rem;
            height: 0.8rem;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 0.8rem;
        }

        .activity-panel-header .header-item .bgcontainer.a3[data-v-30ca6441] {
            background-image: -webkit-linear-gradient(top, #F87700 0%, #FFCE22 100%);
            background-image: linear-gradient(180deg, #F87700 0%, #FFCE22 100%);
        }

        .bgcontainer.a3[data-v-30ca6441]:after {
            background-image: url(/images/activityIcon3-2aeac4f4.png);
        }

        .activity-panel-header .header-item .bgcontainer.a4[data-v-30ca6441] {
            background-image: -webkit-linear-gradient(top, #15CEA2 0%, #B6FFE0 100%);
            background-image: linear-gradient(180deg, #15CEA2 0%, #B6FFE0 100%);
        }

        .bgcontainer.a4[data-v-30ca6441]:after {
            background-image: url(/images/activityIcon4-4b3e3dac.png);
        }

        .activity-panel-content[data-v-30ca6441] {
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-top: 0.26667rem;
        }

        .activity-panel-content .content-title[data-v-30ca6441] {
            width: calc((100% - 0.74rem)/2);
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: start;
            -webkit-justify-content: flex-start;
            justify-content: flex-start;
            background: #fff;
            border-radius: 0.13333rem;
            padding-bottom: 0.26667rem;
            box-shadow: drop-shadow(0 .05333rem .05333rem rgba(208, 208, 237, .36));
            padding-right: 13px;
            margin-left: 14px;
        }

        .activity-panel-content .content-title .content-para[data-v-30ca6441] {
            color: #151515;
            font-weight: 700;
            padding: 0.13333rem 0.26667rem;
            font-size: .37333rem;
        }

        .activity-panel-content .content-title p[data-v-30ca6441] {
            padding: 0.06667rem 0.26667rem;
            color: #666;
        }

        .activity-banner .banner-title[data-v-30ca6441] {
            font-size: .48rem;
            margin-bottom: 0.26667rem;
        }

        .bonus-header {
            color: #3d3a3a;
            font-size: 16px;
            font-weight: 500;
        }

        .bonus-container[data-v-0cc018b2] {
            padding: 0.32rem;
        }

        .bonus-items[data-v-0cc018b2] {
            width: 100%;
            background: #ffffff;
            box-shadow: 0 0.05333rem 0.21333rem #d0d0ed5c;
            border-radius: 0.26667rem;
            margin-top: 0.26667rem;
            padding-bottom: 0.46667rem;
        }

        .container[data-v-a3e56a9c] {
            padding: 0.32rem;
        }

        .dailySignInRules__container-hero[data-v-a3e56a9c] {
            width: calc(100% - 0.64rem);
        }

        .dailySignInRules__container-hero {
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            margin: 0 auto 0.53333rem;
            color: #fff;
            border-radius: 0.26667rem;
            background: -webkit-linear-gradient(top, #ff9490 0%, #ffb29b 100%);
            background: linear-gradient(180deg, #ffaa30db 0%, #d91111a6 100%);
            box-shadow: 0 0.10667rem 0.21333rem #d0d0ed5c;
            overflow: hidden;
        }

        .dailySignInRules__container-hero__wrapper {
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            flex: 1;
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: start;
            -webkit-justify-content: flex-start;
            justify-content: flex-start;
            -webkit-box-align: center;
            -webkit-align-items: center;
            align-items: center;
        }

        .dailySignInRules__container-hero__wrapper-titlebox {
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
            align-items: center;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            flex: 1;
            width: 100%;
        }

        .dailySignInRules__container-hero__wrapper-title {
            width: 100%;
            height: 1.06667rem;
            padding-block: 0.34667rem;
            font-size: .42667rem;
            line-height: .32rem;
            text-align: center;
            background: -webkit-linear-gradient(bottom, #EF3B36 0%, #FF4D4E 100%);
            background: linear-gradient(0deg, #d88206 0%, #de9223 100%);
        }

        .dailySignInRules__container-hero__wrapper ul {
            width: 100%;
        }

        .dailySignInRules__container-hero__wrapper ul li {
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
            align-items: center;
            width: 100%;
        }

        .dailySignInRules__container-hero__wrapper ul li div {
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            flex: 1;
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
            align-items: center;
            font-size: .37333rem;
            padding: 0.34667rem 0;
            border-bottom: 0.01333rem solid #ff8180;
        }

        .rule[data-v-1a6b6fab] {
            width: calc(100% - 0.64rem);
            border: 0.05333rem solid #FF7172;
            border-top: none;
            margin: auto;
            padding: 0.32rem;
            background-color: #fff;
            box-shadow: 0 0.10667rem 0.21333rem #d0d0ed5c;
            border-radius: 0.26667rem;
        }

        .rule .head[data-v-1a6b6fab] {
            width: calc(100% + 0.74667rem);
            position: relative;
            left: -0.37333rem;
            top: -0.32rem;
            height: 0.88rem;
            line-height: .88rem;
            background-image: url(/images/rulehead-fe94f379.svg);
            background-repeat: no-repeat;
            background-size: contain;
            color: #fff;
            font-family: Inter;
            font-size: .42667rem;
            font-style: normal;
            font-weight: 700;
            text-align: center;
        }

        .laundry-page_container .laundry-page_box[data-v-2605efec] {
            background: #fff;
            box-shadow: 0 0.10667rem 0.21333rem #d0d0ed5c;
            border-radius: 0.13333rem;
            padding: 0.4rem;
        }

        .laundry-page_container .laundry-page_list[data-v-2605efec] {
            margin-top: 0.26667rem;
            padding-bottom: 0.4rem;
            padding: 0.4rem;
        }

        .laundry-page_container .laundry-page_box .title[data-v-2605efec] {
            height: 0.66667rem;
            line-height: .66667rem;
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            font-size: .37333rem;
        }

        .laundry-page_container .laundry-page_box .lab[data-v-2605efec] {
            display: inline-block;
            height: 0.66667rem;
            line-height: .66667rem;
            border: 0.01333rem solid #f95959;
            border-radius: 0.13333rem;
            padding: 0 0.16rem 0 0.66667rem;
            font-size: .29333rem;
            color: #f95959;
            position: relative;
        }

        .laundry-page_container .laundry-page_box .lab[data-v-2605efec]:after {
            content: "";
            display: block;
            height: 0.66667rem;
            width: 0.66667rem;
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAHzSURBVHgB7ZfdTQJBEIBnVsH4oGgFYgX6ZND4c3ZAB2AHUIFnB5RwdoAVcEAC+EYJWAH4k6AiO84mXMRkgdtlL5HI93TZ3CZfZnZmZwHWrBgIlvQ9b0/IYYEQ8wjoqTUC6AqiSupLhNut1hNYYCz0enF6NRayBCA83rw3+08KUIrqbrP1AK6F3s5PjsZC5DkapfkSGi2gHu8J0yPhx4naXKGXy1xBIhSjlCxLlNLdRuceTIWeL3O3gOhDEpCsZBqPZYgrpCLD6QkgQZCoqIuU0P0s+axAwqijoFvXCnHYjiFhZp1LAX+M/yJEgUQ65DqvgCGb4BwKMvXOjfriau2S4WXgOEI/Mn0vl5UWfcyh0G8ZJKxxbLJgiLEQgazy+bhW14BrGSshQVjdDzsh4dZEyp2MlRB3WH94dnawH4YDJeVSxkqIO2z2IyXDSMqljMKq7KekvPc015IjGWuhSOozRT0+U+CS1bg6eOwMIWHUWKtb1wptyIQmxWmIAt2yVmin2a7zBh+Sk/FnzdULh3weZdWNbfTSmMOAR9eS1ZAfoXoMV1INli/rbnqE+UVPodg1u9QrhOeiTKNdjvOrUROZpNCH+NEaoMSiyevVuKsZpDBWipYWipibQoMUORNSqBSyVJHHEA9UejgqY6Q7NZ7AmoT4BgdB4SxyH5UdAAAAAElFTkSuQmCC) no-repeat center center;
            background-size: auto 70%;
            position: absolute;
            left: 0;
            top: 0;
        }

        .laundry-page_container .laundry-page_box .number[data-v-2605efec] {
            color: #151515;
            font-weight: 700;
            font-size: .48rem;
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-align-content: center;
            align-content: center;
            margin: 0.26667rem 0;
        }

        .laundry-page_container .laundry-page_box .number .wallet[data-v-2605efec] {
            width: 0.53333rem;
            margin-right: 0.2rem;
        }

        img {
            image-rendering: -moz-crisp-edges;
            image-rendering: -o-crisp-edges;
            image-rendering: -webkit-optimize-contrast;
            image-rendering: crisp-edges;
            -ms-interpolation-mode: nearest-neighbor;
        }

        .laundry-page_container .laundry-page_box .txt[data-v-2605efec] {
            background: #f6f6f6;
            margin-bottom: 0.2rem;
            width: 85%;
            line-height: .4rem;
            padding: 0.2rem;
            font-size: .29333rem;
            border-radius: 0.13333rem;
            color: #888;
        }

        .laundry-page_container .laundry-page_box .c-row[data-v-2605efec] {
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            justify-content: space-between;
        }

        .laundry-page_container .laundry-page_box .c-row .item[data-v-2605efec] {
            width: calc(50% - 0.09333rem);
            background: #f6f6f6;
            padding: 0.2rem;
        }

        .laundry-page_container .laundry-page_box .c-row .item .tit[data-v-2605efec] {
            color: #666;
            font-size: .29333rem;
            margin-bottom: 0.13333rem;
        }

        .laundry-page_container .laundry-page_box .c-row .item .num[data-v-2605efec] {
            color: #ff7f22;
            font-size: .42667rem;
            font-weight: 700;
        }

        .laundry-page_container .laundry-page_box .tip[data-v-2605efec] {
            padding: 0.2rem;
            color: #888;
        }

        .laundry-page_container .laundry-page_box .btn[data-v-2605efec] {
            width: 8.8rem;
            height: 0.93333rem;
            line-height: .93333rem;
            text-align: center;
            background: #bcbfd5;
            border-radius: 1.06667rem;
            font-size: .4rem;
            color: #fff;
            border: none;
            margin-top: 0.08rem;
        }

        input,
        button,
        textarea {
            color: inherit;
            font: inherit;
        }

        .laundry-page_container .laundry-page_list[data-v-2605efec] {
            margin-top: 0.26667rem;
            padding-bottom: 0.4rem;
        }

        .laundry-page_container .laundry-page_list .title[data-v-2605efec] {
            height: 0.66667rem;
            line-height: .66667rem;
            padding-left: 0.26667rem;
            font-weight: 700;
            font-size: .48rem;
            position: relative;
            margin-bottom: 0.26667rem;
            color:white
        }

        .laundry-page_container .laundry-page_list .title[data-v-2605efec]:before {
            display: block;
            content: "";
            height: 0.4rem;
            width: 0.08rem;
            background: #f13f39;
            position: absolute;
            left: 0;
            top: 50%;
            -webkit-transform: translate(0, -50%);
            transform: translateY(-50%);
        }

        .laundry-page_container .laundry-page_list .all-record[data-v-2605efec] {
            height: 1rem;
            border-color: #f13f39 !important;
            color: #f13f39 !important;
        }

        .laundry-page_container .laundry-page_box .action[data-v-2605efec] {
            width: 8.8rem;
            height: 0.93333rem;
            line-height: .93333rem;
            text-align: center;
            background: #ee3b35;
            border-radius: 1.06667rem;
            font-size: .4rem;
            color: #fff;
            border: none;
            margin-top: 0.08rem;
        }

        .van-button:before {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            background: var(--van-black);
            border: inherit;
            border-color: var(--van-black);
            border-radius: inherit;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            opacity: 0;
            content: " ";
        }

        .van-button__content {
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            align-items: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            height: 100%;
        }

        .StrongBox__container-dailyRate[data-v-6455ca11] {
            margin: auto;
            width: 4.16rem;
            height: 0.53333rem;
            line-height: .53333rem;
            text-align: center;
            color: #fff;
            background: #2a2a2a;
            border-radius: 0.53333rem;
            font-weight: 400;
            font-size: .32rem;
            font-style: normal;
            box-shadow: 0 0.05333rem 0.21333rem #d0d0ed5c;
            margin-bottom: 0.26667rem;
            margin-top: 0.4rem;
        }

        .TotalAssets__container[data-v-ffd9d03e] {
            width: 97%;
    height: 3.46667rem;
    background-image: url(/images/TotalAssetsBg-753cac06.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    border-radius: 0.26667rem;
    color: #000;
    padding: 0.38667rem 0.33333rem 0;
    margin: 6px;
        }

        .TotalAssets__container-header[data-v-ffd9d03e] {
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            height: 0.53333rem;
        }

        .TotalAssets__container-header__left[data-v-ffd9d03e],
        .TotalAssets__container-header__right[data-v-ffd9d03e] {
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            align-items: center;
        }

        .TotalAssets__container-header__left[data-v-ffd9d03e] {
            font-weight: 400;
            font-size: .34667rem;
        }

        .TotalAssets__container-header__left img[data-v-ffd9d03e],
        .TotalAssets__container-header__right img[data-v-ffd9d03e] {
            width: 0.4rem;
            height: 0.4rem;
            margin-right: 0.21333rem;
        }

        .TotalAssets__container-header__left[data-v-ffd9d03e],
        .TotalAssets__container-header__right[data-v-ffd9d03e] {
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            align-items: center;
        }

        .TotalAssets__container-header__right[data-v-ffd9d03e] {
            height: 0.53333rem;
            border: 0.01333rem solid #ffffff;
            border-radius: 0.08rem;
            font-weight: 400;
            font-size: .29333rem;
            padding: 0 0.36rem;
        }

        .TotalAssets__container-header__left img[data-v-ffd9d03e],
        .TotalAssets__container-header__right img[data-v-ffd9d03e] {
            width: 0.4rem;
            height: 0.4rem;
            margin-right: 0.21333rem;
        }

        .TotalAssets__container-main[data-v-ffd9d03e] {
            height: 0.73333rem;
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            align-items: center;
            margin: 0.21333rem 0.37333rem 0.37333rem 0;
            font-weight: 700;
            font-size: .64rem;
            text-shadow: 0 0.01333rem 0 rgba(0, 0, 0, .12);
        }

        .TotalAssets__container-tip[data-v-ffd9d03e] {
            font-size: .29333rem;
        }
        .StrongBox__container-income[data-v-6455ca11] {
    margin-top: 0.26667rem;
    min-height: 5.13333rem;
    background: #ffffff;
    box-shadow: 0 0.05333rem 0.21333rem #d0d0ed5c;
    border-radius: 0.13333rem;
    padding: 0.4rem 0.18667rem 0.10667rem;
}

.StrongBox__container-income-header[data-v-6455ca11] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.StrongBox__container-income-header-left[data-v-6455ca11], .StrongBox__container-income-header-right[data-v-6455ca11] {
    text-align: center;
    padding-top: 0.12rem;
    width: 50%;
    padding: 0.12rem 0.26667rem 0;
}
.StrongBox__container-income-header-left-num[data-v-6455ca11] {
    color: #f13f39;
    height: 0.48rem;
    line-height: .48rem;
    font-size: .48rem;
}
.StrongBox__container-income-header-left-text[data-v-6455ca11], .StrongBox__container-income-header-right-text[data-v-6455ca11] {
    height: 0.37333rem;
    font-size: .32rem;
    color: #2f2f34;
    margin: 0.16rem 0;
}
.StrongBox__container-income-header-left-myrale[data-v-6455ca11], .StrongBox__container-income-header-right-myrale[data-v-6455ca11] {
    height: 0.48rem;
    border: 0.01333rem solid #dbdbdb;
    border-radius: 0.53333rem;
    min-width: 2.93333rem;
    font-size: .29333rem;
    color: #a8abc0;
    margin: auto;
}.StrongBox__container-income-header-right[data-v-6455ca11] {
    border-left: 0.01333rem solid #daddf0;
}

.StrongBox__container-income-header-left[data-v-6455ca11], .StrongBox__container-income-header-right[data-v-6455ca11] {
    text-align: center;
    padding-top: 0.12rem;
    width: 50%;
    padding: 0.12rem 0.26667rem 0;
}
.StrongBox__container-income-header-right-num[data-v-6455ca11] {
    color: #333;
    height: 0.48rem;
    line-height: .48rem;
    font-size: .4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.StrongBox__container-income-buttom>div[data-v-6455ca11] {
    width: 4.34667rem;
    height: 0.93333rem;
    line-height: .93333rem;
    border: 0.01333rem solid #f13f39;
    border-radius: 0.13333rem;
    font-size: .37333rem;
    font-weight: 400;
    color: #f13f39;
    text-align: center;
}
.StrongBox__container-income-buttom>div+div[data-v-6455ca11] {
    background: #f13f39;
    color: #fff;
}

.StrongBox__container-income-buttom>div[data-v-6455ca11] {
    width: 4.34667rem;
    height: 0.93333rem;
    line-height: .93333rem;
    border: 0.01333rem solid #f13f39;
    border-radius: 0.13333rem;
    font-size: .37333rem;
    font-weight: 400;
    color: #f13f39;
    text-align: center;
}


.StrongBox__container-income-tip[data-v-6455ca11] {
    font-size: .29333rem;
    color: #f13f39;
    margin-top: 0.33333rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: left;
}
.StrongBox__container-errorTip[data-v-6455ca11] {
    width: 0.4rem;
    height: 0.4rem;
    margin-right: 0.12rem;
}
.StrongBox__container-income-godetail[data-v-6455ca11] {
    text-align: center;
    height: 0.4rem;
    line-height: .4rem;
    font-size: .32rem;
    color: #888;
    margin-top: 0.46667rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.StrongBox__container-income-godetail img[data-v-6455ca11] {
    width: 0.42667rem;
    height: 0.42667rem;
}

.StrongBox__container-income-buttom[data-v-6455ca11] {
    margin-top: 0.33333rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.StrongBox__container-income-buttom>div[data-v-6455ca11] {
    width: 9.34667rem;
    height: 0.93333rem;
    line-height: .93333rem;
    border: 0.01333rem solid #ffffff;
    border-radius: 0.13333rem;
    font-size: .37333rem;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    background: radial-gradient(ellipse at top left, #EEBD54 0%,rgb(215 130 7) 57%);
}

/* 
.color-box {
            width: 30px;
            height: 30px;
            display: inline-block;
        }
        .big {
            background-image: url('/images/big.png');
            background-size: contain;
        }
        .small {
            background-image: url('/images/small.png');
            background-size: contain;
        }
        .violet { background-color: violet;border-radius: 1px; }
        .red { background-color: red;border-radius: 1px; }
        .green { background-color: green;border-radius: 1px; }
        .red-violet { background-color: #D02090;border-radius: 1px; }
        .green-violet { background-color: #ADFF2F; border-radius: 1px;} */


       


.p-b-5 {
    padding-bottom: .13333rem !important;
}
.p-t-5 {
    padding-top: .13333rem !important;
}
 .hb[data-v-a9660e98] {
    background-color: #3b3b3b;
    border-bottom: .02667rem solid #e2e2e2;
    color: #fff;
    font-size: .37333rem;
}
 .hb .item[data-v-a9660e98] {
    padding: .53333rem .4rem;
}
 .hb .item .result .select.select-big[data-v-a9660e98] {
    background: #ffc511;
    
    padding: 0;
    overflow: hidden;
}

 .hb .item .result .select[data-v-a9660e98] {
    height: .8rem;
    line-height: .8rem;
    min-width: .8rem;
    padding: 0 .13333rem;
    border-radius: .13333rem;
    text-align: center;
    font-size: .42667rem;
    color: #fff;
}
.van-image {
    position: relative;
    display: inline-block;
}
.van-image__error, .van-image__img, .van-image__loading {
    display: block;
    width: 100%;
    height: 100%;
}

 .hb .item .info[data-v-a9660e98] {
    padding-left: .4rem;
    width: 100%;
}
[data-v-a9660e98] {
    touch-action: pan-y;
}
.c-row-between {
    justify-content: space-between;
}
.c-row {
    display: flex;
}
 .hb .item .info .issueName .state.green[data-v-a9660e98] {
    color: #1a530d;
    font-weight: bold;
}
 .hb .item .info .issueName .state[data-v-a9660e98] {
    background-color: #f3f1f1;
    padding: .10667rem .26667rem;
    margin-left: .26667rem;
    border-radius: .53333rem;
    font-size: .32rem;
}
 .hb .green[data-v-a9660e98] {
    color: #4eaf56;
}
 .hb .item .info .money[data-v-a9660e98] {
    font-weight: 600;
    font-size: .42667rem;
}
 .hb .item .info .tiem[data-v-a9660e98] {
    font-size: .32rem;
    color: #d0b6b6;
    margin-top: .13333rem;
}
 .hb .item .info .money .success[data-v-a9660e98] {
    color: #5cba47;
}

 .hb .item .result .select.select-green[data-v-a9660e98] {
    background-color: #5cba47;
}

 .hb .item .result .select[data-v-a9660e98] {
    height: .8rem;
    line-height: .8rem;
    min-width: .8rem;
    padding: 0 .13333rem;
    border-radius: .13333rem;
    text-align: center;
    font-size: .42667rem;
    color: #fff;
}

 .page-nav[data-v-a9660e98] {
    margin-top: .53333rem;
    padding-bottom: .53333rem;
    height: 1.06667rem;
}

.game .page-nav[data-v-a9660e98] {
    margin-top: .53333rem;
    padding-bottom: .53333rem;
    height: 1.06667rem;
}
[data-v-a9660e98] {
    touch-action: pan-y;
}
.c-tc {
    text-align: center;
}
.c-row-center, .c-row-middle-center {
    justify-content: center;
}
.c-row {
    display: flex;
}
:not(input,textarea) {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

 .page-nav .arr[data-v-a9660e98] {
    height: 1.06667rem;
    width: 1.06667rem;
    background-color: #d8820a;
    border-radius: .13333rem;
}

.game .page-nav .arr[data-v-a9660e98] {
    height: 1.06667rem;
    width: 1.06667rem;
    background-color: #d8820a;
    border-radius: .13333rem;
}
.block-click {
    pointer-events: none;
}
[data-v-a9660e98] {
    touch-action: pan-y;
}
.c-row-middle-center {
    align-items: center;
}
.c-row-center, .c-row-middle-center {
    justify-content: center;
}

 .page-nav .arr .icon[data-v-a9660e98] {
    color: #d8820a;
}

.game .page-nav .arr .icon[data-v-a9660e98] {
    color: #7f7f7f;
}
.van-icon, .van-icon:before {
    display: inline-block;
}
.van-icon {
    position: relative;
    font: normal normal normal .37333rem / 1 vant-icon;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
[data-v-a9660e98] {
    touch-action: pan-y;
}
 .page-nav .number[data-v-a9660e98] {
    width: 2.66667rem;
    height: 1.06667rem;
    line-height: 1.06667rem;
    color:white
}

.game .page-nav .number[data-v-a9660e98] {
    width: 2.66667rem;
    height: 1.06667rem;
    line-height: 1.06667rem;
    background-color: #f6f7f8;
}

 .page-nav .arr.action[data-v-a9660e98] {
    background-color: #d8820a;
}

.game .page-nav .arr.action[data-v-a9660e98] {
    background-color: #fb4e4e;
}

 .page-nav .arr .icon.action[data-v-a9660e98] {
    color: #fff;
}

.game .page-nav .arr .icon.action[data-v-a9660e98] {
    color: #fff;
}
 .page-nav .arr .icon[data-v-a9660e98] {
    color: #7f7f7f;
}
.game .page-nav .arr .icon[data-v-a9660e98] {
    color: #7f7f7f;
}
.van-icon, .van-icon:before {
    display: inline-block;
}
.van-icon {
    position: relative;
    font: normal normal normal .37333rem / 1 vant-icon;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}



.TotalAssets__container {
    background-color: #e3961c;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.TotalAssets__container-header__left {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: white;
}

.vault-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.TotalAssets__container-main {
    margin-top: 10px;
    font-size: 24px;
    color: white;
    font-weight: bold;
}

.amount-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px; /* Increase the font size for the amount */
}

.wallet-icon {
    width: 40px; /* Adjust the size of the wallet icon */
    height: 40px;
    margin-right: 10px;
}


.amount-container {
    padding-left: 112px;
    padding-top: 20px;
    font-size: 40px;

}

.TotalAssets__container-header__left[data-v-ffd9d03e] {
    font-weight: 400;
    font-size: 19px!important;
    padding-left: 88px;
}

    </style>
</head>

<body style="font-size: 12px;">
    <div id="app">
        <div data-v-11ffe290="" class="mian">
            <div data-v-106b99c8="" data-v-11ffe290="" class="navbar action" style="background: rgb(225 225 0)!important;">
                <div data-v-106b99c8="" class="navbar-left" onclick="location.href='/activity'">
                    <div data-v-a9660e98="" data-v-106b99c8="" class="c-row c-row-middle-center">
                        <img data-v-a9660e98="" data-v-106b99c8="" src="/images/back.c3244ab0.png" class="navbar-back" />
                    </div>
                </div>
                <div data-v-106b99c8="" class="navbar-left"></div>
                <div data-v-106b99c8="" class="navbar-title" style="background-color: #2a2a2a;">AI DASHBOARD</div>
                <div data-v-106b99c8="" class="navbar-right" onclick="location.href='/keFuMenu'">
                    <div data-v-11ffe290="" data-v-106b99c8="" class="c-row">
                        <img data-v-11ffe290="" data-v-106b99c8="" src="/images/audio.webp" class="audio">
                    </div>
                </div>
            </div>
            <div data-v-11ffe290="" class="check-box">
                <br>
                <div data-v-6455ca11="" class="StrongBox__container-dailyRate">Interest rate 10% monthly.</div>
                <div data-v-ffd9d03e="" data-v-6455ca11="" class="TotalAssets__container">
                    <div data-v-ffd9d03e="" class="TotalAssets__container-header">
                        <div data-v-ffd9d03e="" class="TotalAssets__container-header__left">
                            <img data-v-ffd9d03e="" alt="" class="vault-icon" data-origin="images/vault-a933a89f.png" src="/images/vault-a933a89f.png">
                            <span>Total amount</span>
                        </div>
                    </div>
                    <div data-v-ffd9d03e="" class="TotalAssets__container-main">
                        <div class="amount-container">
                            <!-- <img src="/images/2498939-200.png" alt="Wallet Icon" class="wallet-icon"> -->
                             ₹<span class="num-total"></span>
                        </div>
                    </div>
                </div>
                
                <div data-v-2605efec="" class="laundry-page_container">
                    <div data-v-2605efec="" class="laundry-page_list">
                        <div data-v-2605efec="" class="title">AI Bonus</div>
                        <div data-v-14912091="" class="box">
                            <div data-v-14912091="" class="table">
                                <div data-v-14912091="" class="list" id="ai-bonus-list">
                                    <!-- Dynamic data will be injected here -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="loading-spinner" data-v-7692a079="" data-v-432e6ed0="" class="Loading c-row c-row-middle-center">
                        <div data-v-7692a079="" class="van-loading van-loading--circular">
                            <span data-v-7692a079="" class="van-loading__spinner van-loading__spinner--circular"
                                style="color: rgb(242, 65, 59);">
                                <svg data-v-7692a079="" viewBox="25 25 50 50" class="van-loading__circular">
                                    <circle data-v-7692a079="" cx="50" cy="50" r="20" fill="none"></circle>
                                </svg>
                            </span>
                        </div>
                    </div>
                    <%- include('../nav') -%>
                </div>
            </div>
            <div data-v-a9660e98="" class="page-nav c-row c-row-center c-tc" id="pagination-controls">
                <div data-v-a9660e98="" class="arr c-row c-row-middle-center" id="prev-page">
                    <i data-v-a9660e98="" class="van-icon van-icon-arrow-left icon action" style="font-size: 20px;">
                        <!---->
                    </i>
                </div>
                <div data-v-a9660e98="" class="number" id="page-info">1/1</div>
                <div data-v-a9660e98="" class="arr c-row c-row-middle-center action" id="next-page">
                    <i data-v-a9660e98="" class="van-icon van-icon-arrow icon action" style="font-size: 20px">
                        <!---->
                    </i>
                </div>
            </div>
            
            
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script src="/js/client.js"></script>
            <script>
                function alertMess(text, sic) {
                    $('body').append(
                        `<div data-v-1dcba851="" class="msg">
                            <div data-v-1dcba851="" class="msg-content v-enter-active v-enter-to" style=""> ${text} </div>
                        </div>`
                    );
                    setTimeout(() => {
                        $('.msg .msg-content').removeClass('v-enter-active v-enter-to');
                        $('.msg .msg-content').addClass('v-leave-active v-leave-to');
                        setTimeout(() => {
                            $('.msg').remove();
                        }, 100);
                        sic.removeClass('block-click');
                    }, 1000);
                }
                $('.list .item').click(function (e) {
                    e.preventDefault();
                    $(this).addClass('block-click');
                    let data = $(this).attr('data-dpr');
                    let wd = $(this);
                    $.ajax({
                        type: "POST",
                        url: "/api/webapi/checkIn",
                        data: {
                            data: data,
                        },
                        dataType: "json",
                        success: function (response) {
                            alertMess(response.message, wd);
                            if (response.status === false) return;
                            wd.removeClass('action');
                            wd.find('.txt').text('Đã nhận');
                        }
                    });
                });

                function MemRender(datas, currentPage, totalPages) {
    let html = '';
    datas.map((data) => {
        let betContent = '';
        if (data.bet === 'l' || data.bet === 'n') {
            betContent = `
                <div data-v-a9660e98="" class="van-image" style="width: 30px; height: 30px;">
                    <img src="/images/${data.bet === 'l' ? 'big' : 'small'}.png" class="van-image__img">
                </div>
            `;
        } else {
            betContent = `
                <div class="li" style="background-color: ${getColor(data.bet)}; width: 30px; height: 30px;border-radius:3px"></div>
            `;
        }

        html += `
        <div data-v-a9660e98="" issuenumber="${data.issueNumber}" addtime="${data.time}" colour="${data.colour}" number="${data.number}" rowid="${data.rowid}" class="hb">
            <div data-v-a9660e98="" class="item c-row">
                <div data-v-a9660e98="" class="result">
                    <div data-v-a9660e98="" class="select select-${data.bet}">
                        ${betContent}
                    </div>
                </div>
                <div data-v-a9660e98="" class="c-row c-row-between info">
                    <div data-v-a9660e98="">
                        <div data-v-a9660e98="" class="issueName">
                            ${data.stage}
                            <span data-v-a9660e98="" class="state green">Success</span>
                        </div>
                        <div data-v-a9660e98="" class="tiem">${data.created_at}</div>
                    </div>
                    <div data-v-a9660e98="" class="money">
                        <span data-v-a9660e98="" class="success"> + $${data.comm}</span>
                    </div>
                </div>
            </div>
            <div data-v-a9660e98="" class="details" style="display: none">
                <div data-v-a9660e98="" class="tit">Details</div>
                <div data-v-a9660e98="" class="li c-row c-row-between c-row-middle">
                    <div data-v-a9660e98="">Order ID</div>
                    <div data-v-a9660e98="" data-clipboard-text="${data.orderId}" class="tag-read c-row c-row-between c-row-middle">
                        ${data.orderId}
                        <img data-v-a9660e98="" width="18px" height="15px" src="/images/copy.png" class="m-l-5">
                    </div>
                </div>
                <div data-v-a9660e98="" class="li c-row c-row-between c-row-middle">
                    <div data-v-a9660e98="">Result</div>
                    <div data-v-a9660e98="">
                        <div data-v-a9660e98="" style="display: inline-block; margin-left: 8px;">${data.resultNumber}</div>
                        <div data-v-a9660e98="" style="display: inline-block; margin-left: 8px;">${data.resultColour}</div>
                        <div data-v-a9660e98="" style="display: inline-block; margin-left: 8px;">${data.resultSize}</div>
                    </div>
                </div>
                <div data-v-a9660e98="" class="li c-row c-row-between c-row-middle">
                    <div data-v-a9660e98="">Select</div>
                    <div data-v-a9660e98="">
                        <div data-v-a9660e98="">${data.selection}</div>
                    </div>
                </div>
                <div data-v-a9660e98="" class="li c-row c-row-between c-row-middle">
                    <div data-v-a9660e98="">Status</div>
                    <div data-v-a9660e98="" class="${data.status === 'Success' ? 'green' : 'red'}">${data.status}</div>
                </div>
                <div data-v-a9660e98="" class="li c-row c-row-between c-row-middle">
                    <div data-v-a9660e98="">Win Or Loss</div>
                    <div data-v-a9660e98="" class="${data.status === 'Success' ? 'green' : 'red'}"> ${data.status === 'Success' ? '+' : '-'} ${data.amount}</div>
                </div>
                <div data-v-a9660e98="" class="li c-row c-row-between c-row-middle">
                    <div data-v-a9660e98="">Time</div>
                    <div data-v-a9660e98="">${data.time}</div>
                </div>
            </div>
        </div>
        `;
    });
    $('#ai-bonus-list').html(html);

    // Update pagination info
    $('#page-info').text(`${currentPage}/${totalPages}`);
    $('#prev-page').toggleClass('disabled', currentPage === 1);
    $('#next-page').toggleClass('disabled', currentPage === totalPages);

    $('#loading-spinner').hide(); // Hide loading spinner once data is loaded
}

function getColor(join) {
    let color = '';
    if (join == 'l') color = 'big';
    else if (join == 'n') color = 'small';
    else if (join == 't') color = 'violet';
    else if (join == 'd') color = 'red';
    else if (join == 'x') color = 'green';
    else if (join == '0') color = 'red-violet';
    else if (join == '5') color = 'green-violet';
    else if (join % 2 == 0) color = 'red';
    else if (join % 2 != 0) color = 'green';
    return color;
}

function fetchAIBonus(page = 1) {
    $.ajax({
        type: "GET",
        url: `/api/webapi/aiBonus?page=${page}&limit=5`,
        dataType: "json",
        success: function (response) {
            if (response.status) {
                MemRender(response.aiBonus, response.currentPage, response.totalPages);
            } else {
                alert('Failed to load AI Bonus data');
                $('#loading-spinner').hide(); // Hide loading spinner even if data load fails
            }
        },
        error: function () {
            alert('Error fetching AI Bonus data');
        }
    });
}

function fetchAIBalance() {
    $.ajax({
        type: "GET",
        url: "/api/webapi/getAIBalance",
        dataType: "json",
        success: function (response) {
            if (response.status) {
                $('.num-total').text(response.ai_balance);
            } else {
                alert('Failed to load AI Balance');
            }
        },
        error: function () {
            alert('Error fetching AI Balance');
        }
    });
}

// Fetch AI Balance on page load
fetchAIBalance();

// Fetch AI Bonus data on page load
fetchAIBonus();

// Pagination event listeners
$('#prev-page').click(function() {
    if (!$(this).hasClass('disabled')) {
        let currentPage = parseInt($('#page-info').text().split('/')[0]);
        fetchAIBonus(currentPage - 1);
    }
});

$('#next-page').click(function() {
    if (!$(this).hasClass('disabled')) {
        let currentPage = parseInt($('#page-info').text().split('/')[0]);
        fetchAIBonus(currentPage + 1);
    }
});

            </script>
</body>





</html>