<div data-v-03b808c2="" class="game-betting">
<style>
      .TimeLeft__C-rule[data-v-ff68ae62] {
    position: sticky;
    top: 0.19333rem;
    left: 0.29333rem;
    height: 0.61333rem;
    width: 4rem;
    font-size: 0.3833rem;
    text-align: center;
    border: 0.01333rem solid #3c3737;
    border-radius: 0.8rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 10px;
    background: darkseagreen;
    margin-left: 10px;
}

    .block-click {
      pointer-events: none;
    }
    .TimeLeft__C-rule[data-v-ff68ae62]:before {
    content: "";
    display: block;
    height: 0.48rem;
    width: 0.48rem;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAMAAADW3miqAAAANlBMVEUAAAD////////////////////////////////////////////////////////////////////xY8b8AAAAEXRSTlMAv2DfkCDvcBCvnzDPgFBAXz1CD60AAACTSURBVDjL5ZNLDsMgDEQHjPkmbbn/ZQskqUzl7CJlkbdAMDxbsDDugd3i64RfMs/Oq6p8pBNJl3ycG+lYIbkzyQkpnUlZSGZURdsWuxOoZ+ZfKgBV8QRVcni3/vZA6aRwsfSs3z1bSluS6DdLeYuSkNaeF4B3ixgofaLDPJym5eOm+2PP1GXJcQpV1HOEzko+4F6+jgwmeQTHRtsAAAAASUVORK5CYII=);
    background-repeat: no-repeat;
    background-size: 0.48rem;
    background-position: center;
    
}

.game .bet-box .bet-con .check-box .item .rball[data-v-03b808c2] {
    height: 1.33333rem;
    padding: 0.26667rem 0;
    border-radius: 0.13333rem;
    background-color: #eee;
    position: relative;
    background: url(/images/redBall-fd34b99e.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.game .bet-box .bet-con .check-box .item .gball[data-v-03b808c2] {
    height: 1.33333rem;
    padding: 0.26667rem 0;
    border-radius: 0.13333rem;
    background-color: #eee;
    position: relative;
    background: url(/images/greenBall-b7685130.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.game .bet-box .bet-con .check-box .item .li .odds[data-v-03b808c2] {
    font-size: .31333rem;
    line-height: 1;
    font-family: Bahnschrift;
    font-variation-settings: "wght" 300,"wdth" 75;
    font-weight: lighter;
    margin-top: 13px;
}

.game .bet-box .bet-con .check-box .item[data-v-03b808c2] {
    text-align: center;
    flex: 0 0 25%;
    padding: 8px 0.08rem;
    margin-bottom: 0.16rem;
}

.game .bet-box .bet-con .check-box .item .li .rball-num[data-v-03b808c2] {
    background: linear-gradient(180deg,#ff827a 0%,#e93333 68.18%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: .64rem;
    font-weight: 700;
}


.game .bet-box .bet-con .check-box .item .li .gball-num[data-v-03b808c2] {
    background: linear-gradient(180deg,#55d991 0%,#2f9c61 68.18%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: .64rem;
    font-weight: 700;
}

.game .bet-box .bet-con .check-box .item .li[data-v-03b808c2] {
    height: 1.33333rem;
    padding: 0.16667rem 4px 0px 4px;
    border-radius: 0.13333rem;
    /* background-color: #eee; */
    position: relative;
}
.game .bet-box .bet-con .check-box .item .li.action[data-v-03b808c2] {
    color: #000;
    background-color: #fbfcfd;
}
</style>
    <div data-v-03b808c2="" class="tab">
        
        <div data-v-03b808c2="" class="box c-row game-minutes">
            <div data="1" data-v-03b808c2="" class="item c-tc action">
                <div data-v-03b808c2="" class="circular c-row c-row-middle-center c-tc">
                    <span data-v-03b808c2="" class="li">?</span>
                </div>
                <div data="1" data-v-03b808c2="" class="img c-row c-row-center p-b-10">
                    <div data-v-03b808c2="" class="van-image van-image-1" style="width: 30px; height: 30px;">
                        <img src="/images/icon_clock-red.webp" class="van-image__img">
                    </div>
                    <div data-v-03b808c2="" class="van-image van-image-2" style="width: 30px; height: 30px; display: none;">
                        <img src="/images/icon_clock-gerrn.webp" class="van-image__img">
                    </div>
                    <i data-v-03b808c2="" class="triangle"></i>
                </div>
                <div data="1" data-v-03b808c2="" class="txt c-tc">1 min</div>
            </div>
            <div data="3" data-v-03b808c2="" class="item c-tc">
                <div data-v-03b808c2="" class="circular c-row c-row-middle-center c-tc">
                    <span data-v-03b808c2="" class="li">?</span>
                </div>
                <div data="3" data-v-03b808c2="" class="img c-row c-row-center p-b-10">
                    <div data-v-03b808c2="" class="van-image van-image-1" style="width: 30px; height: 30px; display: none;">
                        <img src="/images/icon_clock-red.webp" class="van-image__img">
                    </div>
                    <div data-v-03b808c2="" class="van-image van-image-2" style="width: 30px; height: 30px;">
                        <img src="/images/icon_clock-gerrn.webp" class="van-image__img">
                    </div>
                    <i data-v-03b808c2="" class="triangle"></i>
                </div>
                <div data="3" data-v-03b808c2="" class="txt c-tc">3 min</div>
            </div>
            <div data="5" data-v-03b808c2="" class="item c-tc">
                <div data-v-03b808c2="" class="circular c-row c-row-middle-center c-tc">
                    <span data-v-03b808c2="" class="li">?</span>
                </div>
                <div data="5" data-v-03b808c2="" class="img c-row c-row-center p-b-10">
                    <div data-v-03b808c2="" class="van-image van-image-1" style="width: 30px; height: 30px; display: none;">
                        <img src="/images/icon_clock-red.webp" class="van-image__img">
                    </div>
                    <div data-v-03b808c2="" class="van-image van-image-2" style="width: 30px; height: 30px;">
                        <img src="/images/icon_clock-gerrn.webp" class="van-image__img">
                    </div>
                    <i data-v-03b808c2="" class="triangle"></i>
                </div>
                <div data="5" data-v-03b808c2="" class="txt c-tc">5 min</div>
            </div>
            <div data="10" data-v-03b808c2="" class="item c-tc">
                <div data-v-03b808c2="" class="circular c-row c-row-middle-center c-tc">
                    <span data-v-03b808c2="" class="li">?</span>
                </div>
                <div data="10" data-v-03b808c2="" class="img c-row c-row-center p-b-10">
                    <div data-v-03b808c2="" class="van-image van-image-1" style="width: 30px; height: 30px; display: none;">
                        <img src="/images/icon_clock-red.webp" class="van-image__img">
                    </div>
                    <div data-v-03b808c2="" class="van-image van-image-2" style="width: 30px; height: 30px;">
                        <img src="/images/icon_clock-gerrn.webp" class="van-image__img">
                    </div>
                    <i data-v-03b808c2="" class="triangle"></i>
                </div>
                <div data="10" data-v-03b808c2="" class="txt c-tc">10 min</div>
            </div>
        </div>
    </div>
    <div data-v-ff68ae62="" class="TimeLeft__C-rule how-to-play" >How to play</div>
    <div data-v-03b808c2="" class="content">
        <div data-v-03b808c2="" class="page-box">
            <div data-v-03b808c2="" class="flex-row-between period-title"><span data-v-03b808c2=""> Lottery Period</span><span
                    data-v-03b808c2=""> Time Left</span></div>
            <div data-v-03b808c2="" class="flex-row-between flex-center period-span"><span
                    data-v-03b808c2="" id="period"></span>
                <div data-v-03b808c2="" class="flex-row-end">
                    <div data-v-03b808c2="" class="li-item">0</div>
                    <div data-v-03b808c2="" class="li-item">0</div><span data-v-03b808c2="" class="li-symbol">:</span>
                    <div data-v-03b808c2="" class="li-item">4</div>
                    <div data-v-03b808c2="" class="li-item">4</div>
                </div> 
            </div>
        </div>
        <div data-v-03b808c2="" style="text-align: center;">
            <div data-v-03b808c2="" class="slot-inner">
                <div data-v-03b808c2="" class="d5-slot-box">
                    <div data-v-03b808c2="" class="slot-column">
                        <div data-v-03b808c2="" class="slot-transform">
                            <div data-v-03b808c2="" class="slot-num bg5"></div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" class="slot-column">
                        <div data-v-03b808c2="" class="slot-transform">
                            <div data-v-03b808c2="" class="slot-num bg6"></div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" class="slot-column">
                        <div data-v-03b808c2="" class="slot-transform">
                            <div data-v-03b808c2="" class="slot-num bg1"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-v-03b808c2="" class="bet-box">
            <div data-v-03b808c2="" class="bet-mark">
                <div data-v-03b808c2="" class="mark-box c-row c-row-middle-center" style="display: none;">
                    <span data-v-03b808c2="" class="item m-r-20">0</span>
                    <span data-v-03b808c2="" class="item m-l-20">0</span>
                </div>
                <div data-v-03b808c2="" game="1" class="bet-con">
                    <div data-v-03b808c2="" class="check-box c-row c-flex-warp c-row-between list-join-total">
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li rball" data="3" data-join="3">
                                <div data-v-03b808c2="" class="name rball-num">3</div>
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">207.36X</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li gball" data="4" data-join="4">
                                <div data-v-03b808c2="" class="name gball-num">4</div>
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">69.12X</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li rball" data-join="5">
                                <div data-v-03b808c2="" class="name rball-num">5</div>
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">34.56X</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li gball" data-join="6">
                                <div data-v-03b808c2="" class="name gball-num">6</div>
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">20.74X</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li rball" data-join="7">
                                <div data-v-03b808c2="" class="name rball-num">7</div>
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">13.83X</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li gball" data-join="8">
                                <div data-v-03b808c2="" class="name gball-num">8</div>
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">9.88X</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li rball" data-join="9">
                                <div data-v-03b808c2="" class="name rball-num">9</div>
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">8.3X</span></div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li gball" data-join="10">
                                <div data-v-03b808c2="" class="name gball-num">10</div>
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">7.68X</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li rball" data-join="11">
                                <div data-v-03b808c2="" class="name rball-num">11</div>
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">7.68X</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li gball" data="12" data-join="12">
                                <div data-v-03b808c2="" class="name gball-num">12</div>
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">8.3X</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li rball" data="13" data-join="13">
                                <div data-v-03b808c2="" class="name rball-num">13</div>
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">9.88X</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li gball" data="14" data-join="14">
                                <div data-v-03b808c2="" class="name gball-num">14</div>
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">13.83XX</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li rball" data="15" data-join="15">
                                <div data-v-03b808c2="" class="name rball-num">15</div>
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">20.74X</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li gball" data="16" data-join="16">
                                <div data-v-03b808c2="" class="name gball-num">16</div>
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">34.56X</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li rball" data="17" data-join="17">
                                <div data-v-03b808c2="" class="name rball-num">17</div>
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">69.12X</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li gball" data="18" data-join="18">
                                <div data-v-03b808c2="" class="name gball-num">18</div>
                                <div data-v-03b808c2="" class="odds"><span data-v-03b808c2="">207.36X</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li" data="b" data-join="Big" style="    height: 1.17333rem;
                            background-color: #ffa82e;
                            color: #fff;">
                                <div data-v-03b808c2="" class="name ">Big</div>
                                <div data-v-03b808c2="" class="odds" style="margin-top: 3px;"><span data-v-03b808c2="">1.92X</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li" data="s" data-join="Small" style=" height: 1.17333rem;
                            color: #fff; background-color: #6da7f4;">
                                <div data-v-03b808c2="" class="name">Small</div>
                                <div data-v-03b808c2="" class="odds" style="margin-top: 3px;"><span data-v-03b808c2="">1.92X</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li" data="l" data-join="lẻ" style="   height: 1.17333rem;
                            color: #fff;  background-color: #fa574a;">
                                <div data-v-03b808c2="" class="name">Odd</div>
                                <div data-v-03b808c2="" class="odds" style="margin-top: 3px;"><span data-v-03b808c2="">1.92X</span>
                                </div>
                            </div>
                        </div>
                        <div data-v-03b808c2="" class="item">
                            <div data-v-03b808c2="" class="li" data="c" data-join="chẵn" style="   height: 1.17333rem;
                            color: #fff;  background-color: #40ad72;">
                                <div data-v-03b808c2="" class="name">Even</div>
                                <div data-v-03b808c2="" class="odds" style="margin-top: 3px;"><span data-v-03b808c2="">1.92X</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-v-03b808c2="" game="2" class="bet-con num d-none">
                    <div data-v-03b808c2="" class="title">Choose 2 suitable numbers：Odds <span data-v-03b808c2="">13.83</span></div>
                    <div data-v-03b808c2="" data="chon-2-so-phu-hop" class="num-box purple c-row c-flex-warp c-row-between">
                        <div data-v-03b808c2="" game="2_1" data="11" class="item">
                            <!---->
                            <div data-v-03b808c2="">11</div>
                        </div>
                        <div data-v-03b808c2="" game="2_1" data="22" class="item">
                            <!---->
                            <div data-v-03b808c2="">22</div>
                        </div>
                        <div data-v-03b808c2="" game="2_1" data="33" class="item">
                            <!---->
                            <div data-v-03b808c2="">33</div>
                        </div>
                        <div data-v-03b808c2="" game="2_1" data="44" class="item">
                            <!---->
                            <div data-v-03b808c2="">44</div>
                        </div>
                        <div data-v-03b808c2="" game="2_1" data="55" class="item">
                            <!---->
                            <div data-v-03b808c2="">55</div>
                        </div>
                        <div data-v-03b808c2="" game="2_1" data="66" class="item">
                            <!---->
                            <div data-v-03b808c2="">66</div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" class="des">If the lottery result matches 2 numbers you bet, you will win the prize. (Except for three identical numbers).</div>
                    <div data-v-03b808c2="" class="title">Choose a unique pair of numbers：Odds <span data-v-03b808c2="">69.12</span></div>
                    <div data-v-03b808c2="" hang="1" data="Select 1 unique pair" class="num-box red c-row c-flex-warp c-row-between">
                        <div data-v-03b808c2="" data="11" number="1" game="2_2" class="item">
                            <!---->
                            <div data-v-03b808c2="">11</div>
                        </div>
                        <div data-v-03b808c2="" data="22" number="2" game="2_2" class="item">
                            <!---->
                            <div data-v-03b808c2="">22</div>
                        </div>
                        <div data-v-03b808c2="" data="33" number="3" game="2_2" class="item">
                            <!---->
                            <div data-v-03b808c2="">33</div>
                        </div>
                        <div data-v-03b808c2="" data="44" number="4" game="2_2" class="item">
                            <!---->
                            <div data-v-03b808c2="">44</div>
                        </div>
                        <div data-v-03b808c2="" data="55" number="5" game="2_2" class="item">
                            <!---->
                            <div data-v-03b808c2="">55</div>
                        </div>
                        <div data-v-03b808c2="" data="66" number="6" game="2_2" class="item">
                            <!---->
                            <div data-v-03b808c2="">66</div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" hang="2" data="chon-1-cap-duy-nhat" class="num-box green c-row c-flex-warp c-row-between">
                        <div data-v-03b808c2="" data="1" number="1" game="2_2" class="item">
                            <!---->
                            <div data-v-03b808c2="">1</div>
                        </div>
                        <div data-v-03b808c2="" data="2" number="2" game="2_2" class="item">
                            <!---->
                            <div data-v-03b808c2="">2</div>
                        </div>
                        <div data-v-03b808c2="" data="3" number="3" game="2_2" class="item">
                            <!---->
                            <div data-v-03b808c2="">3</div>
                        </div>
                        <div data-v-03b808c2="" data="4" number="4" game="2_2" class="item">
                            <!---->
                            <div data-v-03b808c2="">4</div>
                        </div>
                        <div data-v-03b808c2="" data="5" number="5" game="2_2" class="item">
                            <!---->
                            <div data-v-03b808c2="">5</div>
                        </div>
                        <div data-v-03b808c2="" data="6" number="6" game="2_2" class="item">
                            <!---->
                            <div data-v-03b808c2="">6</div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" class="des">*Select at least 1 pair of identical numbers and 1 different number to place a bet. If the lottery result matches the numbers you bet, you will win the prize.</div>
                </div>
                <div data-v-03b808c2="" game="3" class="bet-con num d-none">
                    <div data-v-03b808c2="" class="title">Choose 3 unique numbers：odds <span data-v-03b808c2="">207.36</span></div>
                    <div data-v-03b808c2="" class="num-box purple c-row c-flex-warp c-row-between">
                        <div data-v-03b808c2="" data="111" class="item">
                            <!---->
                            <div data-v-03b808c2="">111</div>
                        </div>
                        <div data-v-03b808c2="" data="222" class="item">
                            <!---->
                            <div data-v-03b808c2="">222</div>
                        </div>
                        <div data-v-03b808c2="" data="333" class="item">
                            <!---->
                            <div data-v-03b808c2="">333</div>
                        </div>
                        <div data-v-03b808c2="" data="444" class="item">
                            <!---->
                            <div data-v-03b808c2="">444</div>
                        </div>
                        <div data-v-03b808c2="" data="555" class="item">
                            <!---->
                            <div data-v-03b808c2="">555</div>
                        </div>
                        <div data-v-03b808c2="" data="666" class="item">
                            <!---->
                            <div data-v-03b808c2="">666</div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" class="des">* If the lottery result matches the 3 numbers you bet, you will win the prize.</div>
                    <div data-v-03b808c2="" class="title">Choose 3 identical numbers: Odds <span data-v-03b808c2="">34.56</span></div>
                    <div data-v-03b808c2="" class="chon-3-so-giong-nhau num-box red c-row c-flex-warp c-row-between">
                        <div data-v-03b808c2="" class="li">
                            <!---->
                            <div data-v-03b808c2="">Choose 3 identical numbers</div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" class="des">*If the winning numbers are any three identical numbers, you will win the prize.</div>
                </div>
                <div data-v-03b808c2="" game="4" class="bet-con num d-none">
                    <div data-v-03b808c2="" class="title">Choose 3 different numbers: Odds<span data-v-03b808c2="">34.56</span></div>
                    <div data-v-03b808c2="" class="num-box purple c-row c-flex-warp c-row-between">
                        <div data-v-03b808c2="" data="1" class="item">
                            <!---->
                            <div data-v-03b808c2="">1</div>
                        </div>
                        <div data-v-03b808c2="" data="2" class="item">
                            <!---->
                            <div data-v-03b808c2="">2</div>
                        </div>
                        <div data-v-03b808c2="" data="3" class="item">
                            <!---->
                            <div data-v-03b808c2="">3</div>
                        </div>
                        <div data-v-03b808c2="" data="4" class="item">
                            <!---->
                            <div data-v-03b808c2="">4</div>
                        </div>
                        <div data-v-03b808c2="" data="5" class="item">
                            <!---->
                            <div data-v-03b808c2="">5</div>
                        </div>
                        <div data-v-03b808c2="" data="6" class="item">
                            <!---->
                            <div data-v-03b808c2="">6</div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" class="des">Choose 3 or more numbers. If the three numbers in the lottery result are different and match the numbers you've chosen, then you win the prize.</div>
                    <div data-v-03b808c2="" class="title">Choose 3 consecutive numbers: Odds <span data-v-03b808c2="">8.64</span></div>
                    <div data-v-03b808c2="" class="chon-3-so-lien-tiep num-box red c-row c-flex-warp c-row-between">
                        <div data-v-03b808c2="" class="li">
                            <!---->
                            <div data-v-03b808c2="">Choose 3 consecutive numbers.</div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" class="des">*If the winning numbers are any three consecutive numbers, then you win the prize.</div>
                    <div data-v-03b808c2="" class="title">Choose 2 different numbers: Odd<span data-v-03b808c2="">6.91</span></div>
                    <div data-v-03b808c2="" class="num-box purple c-row c-flex-warp c-row-between">
                        <div data-v-03b808c2="" data="1" class="item">
                            <!---->
                            <div data-v-03b808c2="">1</div>
                        </div>
                        <div data-v-03b808c2="" data="2" class="item">
                            <!---->
                            <div data-v-03b808c2="">2</div>
                        </div>
                        <div data-v-03b808c2="" data="3" class="item">
                            <!---->
                            <div data-v-03b808c2="">3</div>
                        </div>
                        <div data-v-03b808c2="" data="4" class="item">
                            <!---->
                            <div data-v-03b808c2="">4</div>
                        </div>
                        <div data-v-03b808c2="" data="5" class="item">
                            <!---->
                            <div data-v-03b808c2="">5</div>
                        </div>
                        <div data-v-03b808c2="" data="6" class="item">
                            <!---->
                            <div data-v-03b808c2="">6</div>
                        </div>
                    </div>
                    <div data-v-03b808c2="" class="des">*Choose 2 or more numbers, if two numbers in the lottery result are different and match the numbers you've chosen, then you win the prize.</div>
                </div>
            </div>
            <div data-v-03b808c2="" class="bet-tab">
                <ul data-v-03b808c2="" class="c-row c-row-between">
                    <li data-v-03b808c2="" game="1" class="item action block-click">Sum</li>
                    <li data-v-03b808c2="" game="2" class=" item">2 Matching</li>
                    <li data-v-03b808c2="" game="3" class=" item">3 Matching</li>
                    <li data-v-03b808c2="" game="4" class=" item">Different</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(".how-to-play").click(function(){
      $(".pop-quytac").css("display", "block");
    });
  </script>