<div data-v-03b808c2="" class="game-list p-b-20">
    <div data-v-03b808c2="" class="tab c-row c-row-between">
        <div data-v-03b808c2="" class="li c-row c-row-center">
            <span data-v-03b808c2="" class="txt action block-click" id="history"> Game History </span>
        </div>
        <div data-v-03b808c2="" class="li c-row c-row-center">
            <span data-v-03b808c2="" class="txt" id="myBet"> My Bet</span>
        </div>
    </div>
    <div data-v-03b808c2="" class="con-box">
        <div data-v-03b808c2="" class="list m-t-10">
            <div data-v-03b808c2="" class="wrap header-history">
                <div data-v-03b808c2="" class="c-tc van-row">
                    <div data-v-03b808c2="" class="van-col van-col--6"> Draw Period</div>
                    <div data-v-03b808c2="" class="van-col van-col--4"> Number </div>
                    <div data-v-03b808c2="" class="van-col van-col--5"> Big/Small </div>
                    <div data-v-03b808c2="" class="van-col van-col--4"> Odd/Even </div>
                    <div data-v-03b808c2="" class="van-col van-col--5"> Result </div>
                </div>
            </div>
            <div data-v-03b808c2="">
                <div data-v-03b808c2="" class="hb" id="list_order">
                    <!---->
                </div>
                <div data-v-03b808c2="" class="hb" id="list_mybet">
                    <!---->
                </div>
            </div>
            <div data-v-03b808c2="" class="list-fooder"></div>
        </div>
        <div data-v-03b808c2="" class="page-nav c-row c-row-center c-tc">
            <div data-v-03b808c2="" class="arr c-row c-row-middle-center block-click" id="previous">
                <i data-v-03b808c2="" class="van-icon van-icon-arrow-left icon" style="font-size: 20px;"></i>
            </div>
            <div data-v-03b808c2="" class="number" id="number_result" data-select="all">1/1</div>
            <div data-v-03b808c2="" class="arr c-row c-row-middle-center action" id="next">
                <i data-v-03b808c2="" class="van-icon van-icon-arrow icon action" style="font-size: 20px;"></i>
            </div>
        </div>
    </div>
    <div data-v-03b808c2="" class="con-box p-b-20" style="display: none;">
        <div data-v-03b808c2="" class="c-row c-flew-end p-r-20">
            <div data-v-03b808c2="" class="bettingMore c-tc c-row c-row-middle-center">
                Hơn
                <i data-v-03b808c2="" class="van-icon van-icon-arrow" style="color: rgb(84, 94, 104); font-size: 15px;"></i>
            </div>
        </div>
        <div data-v-03b808c2="" class="list m-t-10">
            <div data-v-03b808c2="" class="p-t-5 p-b-5">
                <div data-v-03b808c2="" class="van-empty">
                    <div class="van-empty__image"><img src="https://img.yzcdn.cn/vant/empty-image-default.png"></div>
                    <p class="van-empty__description">No data</p>
                </div>
            </div>
            <div data-v-03b808c2="" class="list-fooder"></div>
        </div>

    </div>
</div>