<!DOCTYPE html>
<html translate="no" data-dpr="1" style="font-size: 48.16px">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="robots" content="noindex,nofollow" />
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport" />
    <title>Meta AI</title>
    <link href="/css/wallet/main.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-1.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-2.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-3.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/images/bitbug_favicon.png" type="image/x-icon" />
    <style>
        html,
        body {
            height: 100%;
            width: 100%;
            background-color: #9195a3;
            padding: 0;
            margin: 0;
        }

        .mian[data-v-7aa0f84a] {
            background-color: #fbfcfd
        }

        .mian .bank[data-v-7aa0f84a] {
            padding: .4rem
        }

        .mian .bank .box[data-v-7aa0f84a] {
            background: #fff;
            /* box-shadow: 0 .08rem .69333rem .10667rem #f1f2f5; */
            border-radius: .26667rem;
            padding: .4rem
        }

        .mian .bank .box .item[data-v-7aa0f84a] {
            margin-bottom: .26667rem
        }

        .mian .bank .box .item .lab[data-v-7aa0f84a] {
            font-size: .4rem;
            margin-bottom: .26667rem
        }

        .mian .bank .box .item .input .ipt[data-v-7aa0f84a] {
            width: 100%;
            padding: 0 .4rem;
            height: .93333rem;
        }
        </style>
<!DOCTYPE html>
<html translate="no" data-dpr="1" style="font-size: 48.16px">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="robots" content="noindex,nofollow" />
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport" />
    <title>Meta AI</title>
    <link href="/css/wallet/main.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-1.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-2.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-3.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/images/bitbug_favicon.png" type="image/x-icon" />
    <style>
        html,
        body {
            height: 100%;
            width: 100%;
            background-color: #9195a3;
            padding: 0;
            margin: 0;
        }

        .mian[data-v-7aa0f84a] {
            background-color: #fbfcfd
        }

        .mian .bank[data-v-7aa0f84a] {
            padding: .4rem;
            background-color: #3a3a3a;
        }

        .mian .bank .box[data-v-7aa0f84a] {
            background: #3a3a3a;
            /* box-shadow: 0 .08rem .69333rem .10667rem #f1f2f5; */
            border-radius: .26667rem;
            padding: .4rem
        }

        .mian .bank .box .item[data-v-7aa0f84a] {
            margin-bottom: .26667rem
        }

        .mian .bank .box .item .lab[data-v-7aa0f84a] {
            font-size: .4rem;
            margin-bottom: .26667rem
        }

        .mian .bank .box .item .input .ipt[data-v-7aa0f84a] {
            width: 100%;
            padding: 0 .4rem;
            height: .93333rem;
            line-height: .93333rem;
            border-radius: .13333rem;
            border: .05333rem solid #fff;
            background-color: #3b3b3b;
        }

        .mian .bank .bank-btn .btn[data-v-7aa0f84a] {
            height: 1.01333rem;
            width: 60%;
            box-shadow: 0 0 .21333rem .02667rem rgba(92, 186, 71, .72)
        }
    </style>
</head>

<body style="font-size: 12px">
    <div id="app">
        <div data-v-7aa0f84a="" class="mian">
            <div data-v-106b99c8="" data-v-7aa0f84a="" class="navbar">
                <div data-v-106b99c8="" class="navbar-left" onclick="location.href='/wallet/withdrawal'">
                    <div data-v-106b99c8="" class="bank c-row c-row-middle-center">
                        <img data-v-106b99c8="" src="/images/back.c3244ab0_1.png" class="navbar-back" />
                    </div>
                </div>
                <div data-v-106b99c8="" class="navbar-title">Add a Crypto Address</div>
                <div data-v-106b99c8="" class="navbar-right"></div>
            </div>
            <div data-v-7aa0f84a="" class="bank" style="height:100vh;">
                <div data-v-7aa0f84a="" class="box">
                    <div data-v-7aa0f84a="" class="c-row m-b-10 c-row-middle">
                        <div data-v-7aa0f84a="" class="van-image" style="width: 40px; height: 40px">
                            <img src="/images/pay_icon_debitcard_red.webp" class="van-image__img" />
                        </div>
                        <div data-v-7aa0f84a="" class="p-l-15">Add a bank Details & wallets</div>
                    </div>
                   
                    <!-- <div data-v-7aa0f84a="" class="item">
                        <div data-v-7aa0f84a="" class="lab">Account Name</div>
                        <div data-v-7aa0f84a="" class="input">
                            <input data-v-7aa0f84a="" type="text" placeholder="It Is Required"
                                oninput="value=value.replace(/[^a-zA-Z\s+$]/g,'').toUpperCase()" class="ipt" />
                        </div>
                    </div>
                    <div data-v-7aa0f84a="" class="item">
                        <div data-v-7aa0f84a="" class="lab">Bank Name</div>
                        <div data-v-7aa0f84a="" class="input">
                            <input data-v-7aa0f84a="" type="text" placeholder="It Is Required" class="ipt" />
                        </div>
                    </div>
                    <div data-v-7aa0f84a="" class="item">
                        <div data-v-7aa0f84a="" class="lab">Branch Name</div>
                        <div data-v-7aa0f84a="" class="input">
                            <input data-v-7aa0f84a="" type="text" placeholder="It Is Required" class="ipt" />
                        </div>
                    </div>
                    
                    <div data-v-7aa0f84a="" class="item">
                        <div data-v-7aa0f84a="" class="lab">Account Number</div>
                        <div data-v-7aa0f84a="" class="input">
                            <input data-v-7aa0f84a="" type="number" placeholder="It Is Required"
                            oninput="value=value.replace(/[^\d]/g,'')" class="ipt" />
                          
                        </div>
                    </div>
                    <div data-v-7aa0f84a="" class="item">
                        <div data-v-7aa0f84a="" class="lab">Ifsc Code</div>
                        <div data-v-7aa0f84a="" class="input">
                            <input data-v-7aa0f84a="" type="text" placeholder="It Is Required" class="ipt" />
                        </div>
                    </div> -->
                    <div data-v-7aa0f84a="" class="item">
                        <div data-v-7aa0f84a="" class="lab">USDT (BEP20) ADDRESS  </div>
                        <div data-v-7aa0f84a="" class="input">
                            <input data-v-7aa0f84a="" type="text" placeholder="It Is Required" class="ipt" />
                        </div>
                    </div>
                    <div data-v-7aa0f84a="" class="item">
                        <div data-v-7aa0f84a="" class="lab">USDT(TRC20) ADDRESS</div>
                        <div data-v-7aa0f84a="" class="input">
                            <input data-v-7aa0f84a="" type="text" placeholder="Bank Branch Address" class="ipt" />
                        </div>
                    </div>
                    <!---->
                </div>
                <div data-v-7aa0f84a="" class="c-row c-row-center m-t-20 bank-btn">
                    <button data-v-7aa0f84a=""
                        class="btn van-button van-button--default van-button--normal van-button--block van-button--round"
                        style="
                color: rgb(255, 255, 255);
                background: #FFCE1F;
                border-color: #fff;
              ">
                        <div data-v-7aa0f84a="" class="van-button__content">
                            <span data-v-7aa0f84a="" class="van-button__text" id="addBankCardButton">
                                Add a bank card
                            </span>
                        </div>
                    </button>
                </div>
            </div>
            <div data-v-7692a079="" data-v-7aa0f84a="" class="Loading c-row c-row-middle-center" style="display: none">
                <div data-v-7692a079="" class="van-loading van-loading--circular">
                    <span data-v-7692a079="" class="van-loading__spinner van-loading__spinner--circular"
                        style="color: rgb(242, 65, 59)"><svg data-v-7692a079="" viewBox="25 25 50 50"
                            class="van-loading__circular">
                            <circle data-v-7692a079="" cx="50" cy="50" r="20" fill="none"></circle>
                        </svg></span>
                </div>
            </div>
            <!---->
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/client.js"></script>
    <script>
        function alertMess(text, sic) {
            $('body').append(
                `
                <div data-v-1dcba851="" class="msg">
                    <div data-v-1dcba851="" class="msg-content v-enter-active v-enter-to" style=""> ${text} </div>
                </div>
                `
            );
            setTimeout(() => {
                $('.msg .msg-content').removeClass('v-enter-active v-enter-to');
                $('.msg .msg-content').addClass('v-leave-active v-leave-to');
                setTimeout(() => {
                    $('.msg').remove();
                }, 100);
                sic.removeClass('block-click');
            }, 1000);
        }
        $('button').click(function (e) {
            e.preventDefault();
            let account_name = $('.ipt:eq(0)').val().trim();
            let bank_name = $('.ipt:eq(1)').val().trim();
            let branch_name = $('.ipt:eq(2)').val().trim();
            let account_number = $('.ipt:eq(3)').val().trim();
            let ifsc_code = $('.ipt:eq(4)').val().trim();
            let usdtBep20 = $('.ipt:eq(5)').val().trim();
            let usdttrc20 = $('.ipt:eq(6)').val().trim();
         
            if (account_name && bank_name && branch_name && account_number && ifsc_code) {
                $.ajax({
                    type: "POST",
                    url: "/api/webapi/addBank",
                    data: {
                        account_name: account_name,
                        bank_name: bank_name,
                        branch_name: branch_name,
                        account_number: account_number,
                        ifsc_code: ifsc_code,
                        usdtBep20: usdtBep20,
                        usdttrc20: usdttrc20,
                    },
                    dataType: "json",
                    success: function (response) {
                        console.log(response);
                        alertMess(response.message, $(this));
                        setTimeout(() => {
                            if (response.message) {
                                var base_url = window.location.origin;
                                window.location.href = base_url+"/wallet/withdrawal";
                            }
                        }, 1200);
                    }
                });
            } else {
                alertMess('Please enter full information', $(this));
            }
        });
    </script>
</body>

</html>