<!DOCTYPE html>
<html translate="no" data-dpr="1" style="font-size: 37.52px;">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="robots" content="noindex,nofollow">
  <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
  <title>Meta AI</title>
  <script src="/js/block.js"></script>
  <link rel="stylesheet" href="/5d/css/chunk3.css" />
  <link rel="stylesheet" href="/5d/css/main.css" />
  <link rel="stylesheet" href="/5d/css/chunk1.css" />
  <link rel="stylesheet" href="/5d/css/chunk2.css" />
  <link rel="shortcut icon" href="/images/bitbug_favicon.png" type="image/x-icon">
  <style>
    html,
    body {
      height: 100%;
      width: 100%;
      background-color: #9195a3;
      padding: 0;
      margin: 0;
    }

    .slot-column {
      margin-right: 0 !important;
    }

    .block-click {
      pointer-events: none;
    }

    #result {
      display: none;
    }

    .display-none {
      display: none;
    }
  </style>
</head>

<body style="font-size: 12px;">
  <div id="app">
    <div data-v-42f27458="" class="mian game">
      <div data-v-106b99c8="" data-v-42f27458="" class="navbar">
        <div data-v-106b99c8="" class="navbar-left" onclick='location.href="/home"'>
          <div data-v-42f27458="" data-v-106b99c8="" class="c-row c-row-middle-center">
            <img data-v-42f27458="" data-v-106b99c8="" src="/images/back.c3244ab0_1.png" class="navbar-back">
          </div>
        </div>
        <div data-v-106b99c8="" class="navbar-title">
          <div data-v-42f27458="" data-v-106b99c8="" class="c-row c-row-middle-center">
            <img data-v-42f27458="" data-v-106b99c8="" height="80px" width="100px" src="/images/METAAI.png" class="logo">
          </div>
        </div>
        <div data-v-106b99c8="" class="navbar-right">
          <div data-v-42f27458="" data-v-106b99c8="" class="c-row navbarR">
            <div data-v-42f27458="" data-v-106b99c8="" class="c-row item c-row-middle-center" onclick="location.href='/keFuMenu'">
              <img data-v-42f27458="" data-v-106b99c8="" src="/images/audio.webp" class="item-audio">
            </div>
            <div data-v-42f27458="" data-v-106b99c8="" class="c-row item c-row-middle-center">
              <img data-v-42f27458="" data-v-106b99c8="" src="/images/volume-up-line.webp" class="item-volume">
            </div>
          </div>
        </div>
      </div>
      <%- include('element/info.ejs') -%>
      <%- include('element/content.ejs') -%>
      <%- include('element/list_order.ejs') -%>
      <%- include('element/alert.ejs') -%>
      <!---->
      <div data-v-7692a079="" data-v-42f27458="" class="Loading c-row c-row-middle-center">
        <div data-v-7692a079="" class="van-loading van-loading--circular">
          <span data-v-7692a079="" class="van-loading__spinner van-loading__spinner--circular" style="color: rgb(242, 65, 59);">
            <svg data-v-7692a079="" viewBox="25 25 50 50" class="van-loading__circular">
              <circle data-v-7692a079="" cx="50" cy="50" r="20" fill="none"></circle>
            </svg>
          </span>
        </div>
      </div> 
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
    <script src="/5d/js/main.js"></script>
</body>

</html>