<!DOCTYPE html>
<html translate="no" data-dpr="1" style="font-size: 48.16px;">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="robots" content="noindex,nofollow">
        <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
        <title>Meta AI</title>
        <link href="/css/wallet/main.css" rel="stylesheet"/>
        <link href="/css/wallet/chunk_2-1.css" rel="stylesheet"/>
        <link href="/css/wallet/chunk_2-2.css" rel="stylesheet"/>
        <link href="/css/wallet/chunk_2-3.css" rel="stylesheet"/>
        <link rel="shortcut icon" href="/images/bitbug_favicon.png" type="image/x-icon">
        <style>
            html, body {
                height: 100%;
                width: 100%;
                background-color: #9195a3;
                padding: 0;
                margin: 0;
            }

            .mian[data-v-3966082f] {
                background-color: #fbfcfd
            }

            .mian .box[data-v-3966082f] {
                padding: .4rem;
                background: #2a2a2a;
                height:100vh;
            }

            .mian .box .list[data-v-3966082f] {
                background: #2a2a2a;
                border-radius: .4rem;
                overflow: hidden
            }

            .mian .box .list .item[data-v-3966082f] {
                padding: .26667rem .4rem;
                background: #3b3b3b
            }

            .mian .box .list .item .money[data-v-3966082f] {
                font-size: .4rem;
                color: #fb4e4e
            }

            .mian .box .list .item .money.action[data-v-3966082f] {
                color: #6abe57
            }

            .mian .box .list .item .number[data-v-3966082f],.mian .box .list .item .time[data-v-3966082f] {
                font-size: .32rem;
                color: #fff
            }

            .mian .box .list .item .number[data-v-3966082f] {
                font-size: .4rem
            }

            .mian .box .list .item .number .btn[data-v-3966082f] {
                padding: .13333rem .26667rem;
                font-size: .32rem;
                margin-left: .26667rem;
                border-radius: .13333rem;
                background-color: #ffce1f;
                color: #fff
            }

            .mian .box .list .item .state[data-v-3966082f] {
                text-align: center;
                font-weight: 600
            }

            .mian .box .list .item .txt[data-v-3966082f] {
                text-align: center
            }

            html {
                -webkit-tap-highlight-color: transparent
            }

            body {
                margin: 0;
                font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Segoe UI,Arial,Roboto,PingFang SC,Hiragino Sans GB,Microsoft Yahei,sans-serif
            }

            a {
                text-decoration: none
            }

            button,input,textarea {
                color: inherit;
                font: inherit
            }

            [class*=van-]:focus,a:focus,button:focus,input:focus,textarea:focus {
                outline: 0
            }

            ol,ul {
                margin: 0;
                padding: 0;
                list-style: none
            }

            .van-ellipsis {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis
            }

            .van-multi-ellipsis--l2 {
                -webkit-line-clamp: 2
            }

            .van-multi-ellipsis--l2,.van-multi-ellipsis--l3 {
                display: -webkit-box;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-box-orient: vertical
            }   
            .dailySignIn__container-content[data-v-c4f3162c] {
            padding-inline: .32rem;
            }
            html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
            address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
            b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead,
            tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
            output, ruby, section, summary, time, mark, audio, video {
            padding: 0;
            margin: 0;
            font: inherit;
            font-size: 100%;
            vertical-align: baseline;
            border: 0;
            }

            .dailySignIn__container-hero[data-v-c4f3162c] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    height: 6.13333rem;
    margin-bottom: .42667rem;
    padding: 0 .4rem .26667rem;
    background: url(/assets/png/headerBg-ca048249.png) no-repeat center / cover;
    background-color: #3f3f3f;
    background-position: bottom;}

    .dailySignIn__container-hero__header[data-v-c4f3162c] {
    color: #fff;
}

.dailySignIn__container-hero__header h1[data-v-c4f3162c] {
    font-size: .53333rem;
}
.dailySignIn__container-hero__header div[data-v-c4f3162c] {
    display: inline-block;
    width: 4rem;
    margin-bottom: .21333rem;
    padding: .21333rem .41333rem .21333rem .14667rem;
    color: #8f5206;
    font-size: .37333rem;
    line-height: .32rem;
    background: #D9AC4F;
    -webkit-clip-path: polygon(100% 0, 90% 50%, 100% 100%, 0 100%, 0 0);
    clip-path: polygon(100% 0, 90% 50%, 100% 100%, 0 100%, 0 0);
    word-break: break-all;}
    .dailySignIn__container-hero__header div[data-v-c4f3162c] {
    display: inline-block;
    width: 4rem;
    margin-bottom: .21333rem;
    padding: .21333rem .41333rem .21333rem .14667rem;
    color: #8f5206;
    font-size: .37333rem;
    line-height: .32rem;
    background: #D9AC4F;
    -webkit-clip-path: polygon(100% 0, 90% 50%, 100% 100%, 0 100%, 0 0);
    clip-path: polygon(100% 0, 90% 50%, 100% 100%, 0 100%, 0 0);
    word-break: break-all;
}
.dailySignIn__container-hero__header[data-v-c4f3162c] {
    color: #fff;
}
.dailySignIn__container-hero__header h1[data-v-c4f3162c] {
    font-size: .53333rem;
}
.dailySignIn__container-hero__header p[data-v-c4f3162c]:first-of-type {
    width: 5.33333rem;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.dailySignIn__container-hero__header div[data-v-c4f3162c] {
    display: inline-block;
    width: 4rem;
    margin-bottom: .21333rem;
    padding: .21333rem .41333rem .21333rem .14667rem;
    color: #8f5206;
    font-size: .37333rem;
    line-height: .32rem;
    background: #D9AC4F;
    -webkit-clip-path: polygon(100% 0, 90% 50%, 100% 100%, 0 100%, 0 0);
    clip-path: polygon(100% 0, 90% 50%, 100% 100%, 0 100%, 0 0);
    word-break: break-all;}
    .dailySignIn__container-hero__header p[data-v-c4f3162c]:last-of-type {
    margin-bottom: .08rem;
}

.dailySignIn__container-hero__footer[data-v-c4f3162c] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-top: .53333rem;}
    

        </style>
    </head>
    <body style="font-size: 12px;">
        <div id="app">
            <div data-v-3966082f="" class="mian">
                <div data-v-106b99c8="" data-v-3966082f="" class="navbar">
                    <div data-v-106b99c8="" class="navbar-left" onclick="location.href='/wallet'">
                        <div data-v-106b99c8="" class="bank c-row c-row-middle-center">
                            <img data-v-106b99c8="" src="/images/back.c3244ab0.png" class="navbar-back">
                        </div>
                    </div>
                    <div data-v-106b99c8="" class="navbar-title">Recharge History</div>
                    <div data-v-106b99c8="" class="navbar-right"></div>
                </div>
                
                <div data-v-3966082f="" class="box">
                    <div data-v-3966082f="" class="list m-b-20">
                        <div data-v-3966082f="" role="feed" class="van-list">
                            <div class="lisys"></div>
                            <div data-v-a9660e98="" class="p-t-5 p-b-5">
                                <div data-v-c4f3162c="" class="dailySignIn__container-hero"><div data-v-c4f3162c="" class="dailySignIn__container-hero__header"><h1 data-v-c4f3162c="">Attendance bonus</h1><p data-v-c4f3162c="">Get rewards based on consecutive login days</p><div data-v-c4f3162c="">Attended consecutively<span data-v-c4f3162c="">0</span>Day</div><p data-v-c4f3162c="">Accumulated</p><h1 data-v-c4f3162c="">₹0.00</h1></div><div data-v-c4f3162c="" class="dailySignIn__container-hero__footer"><button data-v-c4f3162c="">Game Rules</button><button data-v-c4f3162c="">Attendance history</button></div></div>
                                <div data-v-c4f3162c="" class="dailySignIn__container-content"><div data-v-c4f3162c="" class="dailySignIn__container-content__wrapper"><div data-v-c4f3162c="" class="dailySignIn__container-content__wrapper-block"><div data-v-c4f3162c="" class="dailySignIn__container-content__wrapper-block__header"><img data-v-c4f3162c="" class="" data-origin="https://bdgwin.com/assets/png/SignInTop-62491ed7.png" src="https://bdgwin.com/assets/png/SignInTop-62491ed7.png"><span data-v-c4f3162c="">₹7.00</span></div><img data-v-c4f3162c="" class="" data-origin="https://bdgwin.com/assets/png/coin-91b2f52b.png" src="https://bdgwin.com/assets/png/coin-91b2f52b.png"><span data-v-c4f3162c="">1 Day</span></div><div data-v-c4f3162c="" class="dailySignIn__container-content__wrapper-block"><div data-v-c4f3162c="" class="dailySignIn__container-content__wrapper-block__header"><img data-v-c4f3162c="" class="" data-origin="https://bdgwin.com/assets/png/SignInTop-62491ed7.png" src="https://bdgwin.com/assets/png/SignInTop-62491ed7.png"><span data-v-c4f3162c="">₹20.00</span></div><img data-v-c4f3162c="" class="" data-origin="https://bdgwin.com/assets/png/coin-91b2f52b.png" src="https://bdgwin.com/assets/png/coin-91b2f52b.png"><span data-v-c4f3162c="">2 Day</span></div><div data-v-c4f3162c="" class="dailySignIn__container-content__wrapper-block"><div data-v-c4f3162c="" class="dailySignIn__container-content__wrapper-block__header"><img data-v-c4f3162c="" class="" data-origin="https://bdgwin.com/assets/png/SignInTop-62491ed7.png" src="https://bdgwin.com/assets/png/SignInTop-62491ed7.png"><span data-v-c4f3162c="">₹100.00</span></div><img data-v-c4f3162c="" class="" data-origin="https://bdgwin.com/assets/png/coin-91b2f52b.png" src="https://bdgwin.com/assets/png/coin-91b2f52b.png"><span data-v-c4f3162c="">3 Day</span></div><div data-v-c4f3162c="" class="dailySignIn__container-content__wrapper-block"><div data-v-c4f3162c="" class="dailySignIn__container-content__wrapper-block__header"><img data-v-c4f3162c="" class="" data-origin="https://bdgwin.com/assets/png/SignInTop-62491ed7.png" src="https://bdgwin.com/assets/png/SignInTop-62491ed7.png"><span data-v-c4f3162c="">₹200.00</span></div><img data-v-c4f3162c="" class="" data-origin="https://bdgwin.com/assets/png/coin-91b2f52b.png" src="https://bdgwin.com/assets/png/coin-91b2f52b.png"><span data-v-c4f3162c="">4 Day</span></div><div data-v-c4f3162c="" class="dailySignIn__container-content__wrapper-block"><div data-v-c4f3162c="" class="dailySignIn__container-content__wrapper-block__header"><img data-v-c4f3162c="" class="" data-origin="https://bdgwin.com/assets/png/SignInTop-62491ed7.png" src="https://bdgwin.com/assets/png/SignInTop-62491ed7.png"><span data-v-c4f3162c="">₹450.00</span></div><img data-v-c4f3162c="" class="" data-origin="https://bdgwin.com/assets/png/coin-91b2f52b.png" src="https://bdgwin.com/assets/png/coin-91b2f52b.png"><span data-v-c4f3162c="">5 Day</span></div><div data-v-c4f3162c="" class="dailySignIn__container-content__wrapper-block"><div data-v-c4f3162c="" class="dailySignIn__container-content__wrapper-block__header"><img data-v-c4f3162c="" class="" data-origin="https://bdgwin.com/assets/png/SignInTop-62491ed7.png" src="https://bdgwin.com/assets/png/SignInTop-62491ed7.png"><span data-v-c4f3162c="">₹2,400.00</span></div><img data-v-c4f3162c="" class="" data-origin="https://bdgwin.com/assets/png/coin-91b2f52b.png" src="https://bdgwin.com/assets/png/coin-91b2f52b.png"><span data-v-c4f3162c="">6 Day</span></div><div data-v-c4f3162c="" class="dailySignIn__container-content__wrapper-block"><p data-v-c4f3162c="">₹6,400.00</p><div data-v-c4f3162c=""><span data-v-c4f3162c="">7 Day</span></div></div></div><div data-v-c4f3162c="" class="dailySignIn__container-content__footer"><button data-v-c4f3162c="" class="">Attendance</button></div></div>
                            </div>
                            </div>
                        </div>
                        <div data-v-7692a079="" data-v-3966082f="" class="Loading c-row c-row-middle-center" style="display: none;">
                            <div data-v-7692a079="" class="van-loading van-loading--circular">
                                <span data-v-7692a079="" class="van-loading__spinner van-loading__spinner--circular" style="color: rgb(242, 65, 59);">
                                    <svg data-v-7692a079="" viewBox="25 25 50 50" class="van-loading__circular">
                                        <circle data-v-7692a079="" cx="50" cy="50" r="20" fill="none"></circle>
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
                <script src="/js/client.js"></script>
                    </body>
</html>
