<!DOCTYPE html>
<html translate="no" data-dpr="1" style="font-size: 48.24px;">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex,nofollow">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <title>Meta AI</title>
    <link href="/css/checkIn/chunk-vendors.css" rel="stylesheet" />
    <link href="/css/checkIn/app.css" rel="stylesheet" />
    <link href="/css/checkIn/chunk.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/images/bitbug_favicon.png" type="image/x-icon">
    <style>
        html,
        body {
            height: 100%;
            width: 100%;
            background-color: #9195a3;
            padding: 0;
            margin: 0;
        }

        .block-click {
            pointer-events: none;
        }

        .activity-panel-header.lg3[data-v-30ca6441] {
            padding: 0 0.58667rem;
        }

        .activity-panel-header[data-v-30ca6441] {
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-align: self-start;
            -webkit-align-items: self-start;
            align-items: self-start;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            justify-content: space-between;
        }

        .activity-panel-header .header-item[data-v-30ca6441] {
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            flex-direction: column;
            color: #666;
            width: 1.33333rem;
            -webkit-box-align: center;
            -webkit-align-items: center;
            align-items: center;
            text-align: center;
        }

        .van-badge__wrapper {
            position: relative;
            display: inline-block;
        }

        .activity-panel-header .header-item .bgcontainer.a2[data-v-30ca6441] {
            background-image: -webkit-linear-gradient(top, #5CA6FF 0%, #A9E5FF 100%);
            background-image: linear-gradient(180deg, #5CA6FF 0%, #A9E5FF 100%);
        }

        .activity-panel-header .header-item .bgcontainer[data-v-30ca6441] {
            width: 1.06667rem;
            height: 1.06667rem;
            border-radius: 0.26667rem;
            padding: 0.13333rem;
            box-shadow: 0 -0.05333rem 0.16rem #fff inset, 0 0.10667rem 0.21333rem #d0d0ed5c;
            margin-bottom: 0.29333rem;
        }

        .activity-panel-header .header-item .bgcontainer.a2[data-v-30ca6441]:after {
            background-image: url(/images/activityIcon2-65587a73.png);
        }

        .activity-panel-header .header-item .bgcontainer[data-v-30ca6441]:after {
            content: "";
            display: block;
            width: 0.8rem;
            height: 0.8rem;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 0.8rem;
        }

        .activity-panel-header .header-item .bgcontainer.a3[data-v-30ca6441] {
            background-image: -webkit-linear-gradient(top, #F87700 0%, #FFCE22 100%);
            background-image: linear-gradient(180deg, #F87700 0%, #FFCE22 100%);
        }

        .bgcontainer.a3[data-v-30ca6441]:after {
            background-image: url(/images/activityIcon3-2aeac4f4.png);
        }

        .activity-panel-header .header-item .bgcontainer.a4[data-v-30ca6441] {
            background-image: -webkit-linear-gradient(top, #15CEA2 0%, #B6FFE0 100%);
            background-image: linear-gradient(180deg, #15CEA2 0%, #B6FFE0 100%);
        }

        .bgcontainer.a4[data-v-30ca6441]:after {
            background-image: url(/images/activityIcon4-4b3e3dac.png);
        }

        .activity-panel-content[data-v-30ca6441] {
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-top: 0.26667rem;
        }

        .activity-panel-content .content-title[data-v-30ca6441] {
            width: calc((100% - 0.74rem)/2);
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: start;
            -webkit-justify-content: flex-start;
            justify-content: flex-start;
            background: #fff;
            border-radius: 0.13333rem;
            padding-bottom: 0.26667rem;
            box-shadow: drop-shadow(0 .05333rem .05333rem rgba(208, 208, 237, .36));
            padding-right: 13px;
            margin-left: 14px;
        }

        .activity-panel-content .content-title .content-para[data-v-30ca6441] {
            color: #151515;
            font-weight: 700;
            padding: 0.13333rem 0.26667rem;
            font-size: .37333rem;
        }

        .activity-panel-content .content-title p[data-v-30ca6441] {
            padding: 0.06667rem 0.26667rem;
            color: #666;
        }

        .activity-banner .banner-title[data-v-30ca6441] {
            font-size: .48rem;
            margin-bottom: 0.26667rem;
        }

        .bonus-header {
            color: #3d3a3a;
            font-size: 16px;
            font-weight: 500;
        }

        .bonus-container[data-v-0cc018b2] {
            padding: 0.32rem;
        }

        .bonus-items[data-v-0cc018b2] {
            width: 100%;
            background: #ffffff;
            box-shadow: 0 0.05333rem 0.21333rem #d0d0ed5c;
            border-radius: 0.26667rem;
            margin-top: 0.26667rem;
            padding-bottom: 0.46667rem;
        }

        .container[data-v-a3e56a9c] {
            padding: 0.32rem;
        }

        .dailySignInRules__container-hero[data-v-a3e56a9c] {
            width: calc(100% - 0.64rem);
        }

        .dailySignInRules__container-hero {
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            margin: 0 auto 0.53333rem;
            color: #fff;
            border-radius: 0.26667rem;
            background: -webkit-linear-gradient(top, #ff9490 0%, #ffb29b 100%);
            background: linear-gradient(180deg, #ffaa30db 0%, #d91111a6 100%);
            box-shadow: 0 0.10667rem 0.21333rem #d0d0ed5c;
            overflow: hidden;
        }

        .dailySignInRules__container-hero__wrapper {
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            flex: 1;
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: start;
            -webkit-justify-content: flex-start;
            justify-content: flex-start;
            -webkit-box-align: center;
            -webkit-align-items: center;
            align-items: center;
        }

        .dailySignInRules__container-hero__wrapper-titlebox {
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
            align-items: center;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            flex: 1;
            width: 100%;
        }

        .dailySignInRules__container-hero__wrapper-title {
            width: 100%;
            height: 1.06667rem;
            padding-block: 0.34667rem;
            font-size: .42667rem;
            line-height: .32rem;
            text-align: center;
            background: -webkit-linear-gradient(bottom, #EF3B36 0%, #FF4D4E 100%);
            background: linear-gradient(0deg, #d88206 0%, #de9223 100%);
        }

        .dailySignInRules__container-hero__wrapper ul {
            width: 100%;
        }

        .dailySignInRules__container-hero__wrapper ul li {
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
            align-items: center;
            width: 100%;
        }

        .dailySignInRules__container-hero__wrapper ul li div {
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            flex: 1;
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
            align-items: center;
            font-size: .37333rem;
            padding: 0.34667rem 0;
            border-bottom: 0.01333rem solid #ff8180;
        }

        .rule[data-v-1a6b6fab] {
            width: calc(100% - 0.64rem);
            border: 0.05333rem solid #FF7172;
            border-top: none;
            margin: auto;
            padding: 0.32rem;
            background-color: #fff;
            box-shadow: 0 0.10667rem 0.21333rem #d0d0ed5c;
            border-radius: 0.26667rem;
        }

        .rule .head[data-v-1a6b6fab] {
            width: calc(100% + 0.74667rem);
            position: relative;
            left: -0.37333rem;
            top: -0.32rem;
            height: 0.88rem;
            line-height: .88rem;
            background-image: url(/images/rulehead-fe94f379.svg);
            background-repeat: no-repeat;
            background-size: contain;
            color: #fff;
            font-family: Inter;
            font-size: .42667rem;
            font-style: normal;
            font-weight: 700;
            text-align: center;
        }

        .laundry-page_container .laundry-page_box[data-v-2605efec] {
            background: #fff;
            box-shadow: 0 0.10667rem 0.21333rem #d0d0ed5c;
            border-radius: 0.13333rem;
            padding: 0.4rem;
        }

        .laundry-page_container .laundry-page_list[data-v-2605efec] {
            margin-top: 0.26667rem;
            padding-bottom: 0.4rem;
            padding: 0.4rem;
        }

        .laundry-page_container .laundry-page_box .title[data-v-2605efec] {
            height: 0.66667rem;
            line-height: .66667rem;
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            font-size: .37333rem;
        }

        .laundry-page_container .laundry-page_box .lab[data-v-2605efec] {
            display: inline-block;
            height: 0.66667rem;
            line-height: .66667rem;
            border: 0.01333rem solid #f95959;
            border-radius: 0.13333rem;
            padding: 0 0.16rem 0 0.66667rem;
            font-size: .29333rem;
            color: #f95959;
            position: relative;
        }

        .laundry-page_container .laundry-page_box .lab[data-v-2605efec]:after {
            content: "";
            display: block;
            height: 0.66667rem;
            width: 0.66667rem;
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAHzSURBVHgB7ZfdTQJBEIBnVsH4oGgFYgX6ZND4c3ZAB2AHUIFnB5RwdoAVcEAC+EYJWAH4k6AiO84mXMRkgdtlL5HI93TZ3CZfZnZmZwHWrBgIlvQ9b0/IYYEQ8wjoqTUC6AqiSupLhNut1hNYYCz0enF6NRayBCA83rw3+08KUIrqbrP1AK6F3s5PjsZC5DkapfkSGi2gHu8J0yPhx4naXKGXy1xBIhSjlCxLlNLdRuceTIWeL3O3gOhDEpCsZBqPZYgrpCLD6QkgQZCoqIuU0P0s+axAwqijoFvXCnHYjiFhZp1LAX+M/yJEgUQ65DqvgCGb4BwKMvXOjfriau2S4WXgOEI/Mn0vl5UWfcyh0G8ZJKxxbLJgiLEQgazy+bhW14BrGSshQVjdDzsh4dZEyp2MlRB3WH94dnawH4YDJeVSxkqIO2z2IyXDSMqljMKq7KekvPc015IjGWuhSOozRT0+U+CS1bg6eOwMIWHUWKtb1wptyIQmxWmIAt2yVmin2a7zBh+Sk/FnzdULh3weZdWNbfTSmMOAR9eS1ZAfoXoMV1INli/rbnqE+UVPodg1u9QrhOeiTKNdjvOrUROZpNCH+NEaoMSiyevVuKsZpDBWipYWipibQoMUORNSqBSyVJHHEA9UejgqY6Q7NZ7AmoT4BgdB4SxyH5UdAAAAAElFTkSuQmCC) no-repeat center center;
            background-size: auto 70%;
            position: absolute;
            left: 0;
            top: 0;
        }

        .laundry-page_container .laundry-page_box .number[data-v-2605efec] {
            color: #151515;
            font-weight: 700;
            font-size: .48rem;
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-align-content: center;
            align-content: center;
            margin: 0.26667rem 0;
        }

        .laundry-page_container .laundry-page_box .number .wallet[data-v-2605efec] {
            width: 0.53333rem;
            margin-right: 0.2rem;
        }

        img {
            image-rendering: -moz-crisp-edges;
            image-rendering: -o-crisp-edges;
            image-rendering: -webkit-optimize-contrast;
            image-rendering: crisp-edges;
            -ms-interpolation-mode: nearest-neighbor;
        }

        .laundry-page_container .laundry-page_box .txt[data-v-2605efec] {
            background: #f6f6f6;
            margin-bottom: 0.2rem;
            width: 85%;
            line-height: .4rem;
            padding: 0.2rem;
            font-size: .29333rem;
            border-radius: 0.13333rem;
            color: #888;
        }

        .laundry-page_container .laundry-page_box .c-row[data-v-2605efec] {
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            justify-content: space-between;
        }

        .laundry-page_container .laundry-page_box .c-row .item[data-v-2605efec] {
            width: calc(50% - 0.09333rem);
            background: #f6f6f6;
            padding: 0.2rem;
        }

        .laundry-page_container .laundry-page_box .c-row .item .tit[data-v-2605efec] {
            color: #666;
            font-size: .29333rem;
            margin-bottom: 0.13333rem;
        }

        .laundry-page_container .laundry-page_box .c-row .item .num[data-v-2605efec] {
            color: #ff7f22;
            font-size: .42667rem;
            font-weight: 700;
        }

        .laundry-page_container .laundry-page_box .tip[data-v-2605efec] {
            padding: 0.2rem;
            color: #888;
        }

        .laundry-page_container .laundry-page_box .btn[data-v-2605efec] {
            width: 8.8rem;
            height: 0.93333rem;
            line-height: .93333rem;
            text-align: center;
            background: #bcbfd5;
            border-radius: 1.06667rem;
            font-size: .4rem;
            color: #fff;
            border: none;
            margin-top: 0.08rem;
        }

        input,
        button,
        textarea {
            color: inherit;
            font: inherit;
        }

        .laundry-page_container .laundry-page_list[data-v-2605efec] {
            margin-top: 0.26667rem;
            padding-bottom: 0.4rem;
        }

        .laundry-page_container .laundry-page_list .title[data-v-2605efec] {
            height: 0.66667rem;
            line-height: .66667rem;
            padding-left: 0.26667rem;
            font-weight: 700;
            font-size: .48rem;
            position: relative;
            margin-bottom: 0.26667rem;
        }

        .laundry-page_container .laundry-page_list .title[data-v-2605efec]:before {
            display: block;
            content: "";
            height: 0.4rem;
            width: 0.08rem;
            background: #f13f39;
            position: absolute;
            left: 0;
            top: 50%;
            -webkit-transform: translate(0, -50%);
            transform: translateY(-50%);
        }

        .laundry-page_container .laundry-page_list .all-record[data-v-2605efec] {
            height: 1rem;
            border-color: #f13f39 !important;
            color: #f13f39 !important;
        }

        .laundry-page_container .laundry-page_box .action[data-v-2605efec] {
            width: 8.8rem;
            height: 0.93333rem;
            line-height: .93333rem;
            text-align: center;
            background: #ee3b35;
            border-radius: 1.06667rem;
            font-size: .4rem;
            color: #fff;
            border: none;
            margin-top: 0.08rem;
        }

        .van-button:before {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            background: var(--van-black);
            border: inherit;
            border-color: var(--van-black);
            border-radius: inherit;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            opacity: 0;
            content: " ";
        }

        .van-button__content {
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            align-items: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            height: 100%;
        }

        .StrongBox__container-dailyRate[data-v-6455ca11] {
            margin: auto;
            width: 4.16rem;
            height: 0.53333rem;
            line-height: .53333rem;
            text-align: center;
            color: #f13f39;
            background: #ffffff;
            border-radius: 0.53333rem;
            font-weight: 400;
            font-size: .32rem;
            font-style: normal;
            box-shadow: 0 0.05333rem 0.21333rem #d0d0ed5c;
            margin-bottom: 0.26667rem;
            margin-top: 0.4rem;
        }

        .TotalAssets__container[data-v-ffd9d03e] {
            width: 97%;
    height: 3.46667rem;
    background-image: url(/images/TotalAssetsBg-753cac06.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    border-radius: 0.26667rem;
    color: #000;
    padding: 0.38667rem 0.33333rem 0;
    margin: 6px;
        }

        .TotalAssets__container-header[data-v-ffd9d03e] {
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            height: 0.53333rem;
        }

        .TotalAssets__container-header__left[data-v-ffd9d03e],
        .TotalAssets__container-header__right[data-v-ffd9d03e] {
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            align-items: center;
        }

        .TotalAssets__container-header__left[data-v-ffd9d03e] {
            font-weight: 400;
            font-size: .34667rem;
        }

        .TotalAssets__container-header__left img[data-v-ffd9d03e],
        .TotalAssets__container-header__right img[data-v-ffd9d03e] {
            width: 0.4rem;
            height: 0.4rem;
            margin-right: 0.21333rem;
        }

        .TotalAssets__container-header__left[data-v-ffd9d03e],
        .TotalAssets__container-header__right[data-v-ffd9d03e] {
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            align-items: center;
        }

        .TotalAssets__container-header__right[data-v-ffd9d03e] {
            height: 0.53333rem;
            border: 0.01333rem solid #ffffff;
            border-radius: 0.08rem;
            font-weight: 400;
            font-size: .29333rem;
            padding: 0 0.36rem;
        }

        .TotalAssets__container-header__left img[data-v-ffd9d03e],
        .TotalAssets__container-header__right img[data-v-ffd9d03e] {
            width: 0.4rem;
            height: 0.4rem;
            margin-right: 0.21333rem;
        }

        .TotalAssets__container-main[data-v-ffd9d03e] {
            height: 0.73333rem;
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            align-items: center;
            margin: 0.21333rem 0.37333rem 0.37333rem 0;
            font-weight: 700;
            font-size: .64rem;
            text-shadow: 0 0.01333rem 0 rgba(0, 0, 0, .12);
        }

        .TotalAssets__container-tip[data-v-ffd9d03e] {
            font-size: .29333rem;
        }
        .StrongBox__container-income[data-v-6455ca11] {
    margin-top: 0.26667rem;
    min-height: 5.13333rem;
    background: #ffffff;
    box-shadow: 0 0.05333rem 0.21333rem #d0d0ed5c;
    border-radius: 0.13333rem;
    padding: 0.4rem 0.18667rem 0.10667rem;
}

.StrongBox__container-income-header[data-v-6455ca11] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.StrongBox__container-income-header-left[data-v-6455ca11], .StrongBox__container-income-header-right[data-v-6455ca11] {
    text-align: center;
    padding-top: 0.12rem;
    width: 50%;
    padding: 0.12rem 0.26667rem 0;
}
.StrongBox__container-income-header-left-num[data-v-6455ca11] {
    color: #f13f39;
    height: 0.48rem;
    line-height: .48rem;
    font-size: .48rem;
}
.StrongBox__container-income-header-left-text[data-v-6455ca11], .StrongBox__container-income-header-right-text[data-v-6455ca11] {
    height: 0.37333rem;
    font-size: .32rem;
    color: #2f2f34;
    margin: 0.16rem 0;
}
.StrongBox__container-income-header-left-myrale[data-v-6455ca11], .StrongBox__container-income-header-right-myrale[data-v-6455ca11] {
    height: 0.48rem;
    border: 0.01333rem solid #dbdbdb;
    border-radius: 0.53333rem;
    min-width: 2.93333rem;
    font-size: .29333rem;
    color: #a8abc0;
    margin: auto;
}.StrongBox__container-income-header-right[data-v-6455ca11] {
    border-left: 0.01333rem solid #daddf0;
}

.StrongBox__container-income-header-left[data-v-6455ca11], .StrongBox__container-income-header-right[data-v-6455ca11] {
    text-align: center;
    padding-top: 0.12rem;
    width: 50%;
    padding: 0.12rem 0.26667rem 0;
}
.StrongBox__container-income-header-right-num[data-v-6455ca11] {
    color: #333;
    height: 0.48rem;
    line-height: .48rem;
    font-size: .4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.StrongBox__container-income-buttom>div[data-v-6455ca11] {
    width: 4.34667rem;
    height: 0.93333rem;
    line-height: .93333rem;
    border: 0.01333rem solid #f13f39;
    border-radius: 0.13333rem;
    font-size: .37333rem;
    font-weight: 400;
    color: #f13f39;
    text-align: center;
}
.StrongBox__container-income-buttom>div+div[data-v-6455ca11] {
    background: #f13f39;
    color: #fff;
}

.StrongBox__container-income-buttom>div[data-v-6455ca11] {
    width: 4.34667rem;
    height: 0.93333rem;
    line-height: .93333rem;
    border: 0.01333rem solid #f13f39;
    border-radius: 0.13333rem;
    font-size: .37333rem;
    font-weight: 400;
    color: #f13f39;
    text-align: center;
}


.StrongBox__container-income-tip[data-v-6455ca11] {
    font-size: .29333rem;
    color: #f13f39;
    margin-top: 0.33333rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: left;
}
.StrongBox__container-errorTip[data-v-6455ca11] {
    width: 0.4rem;
    height: 0.4rem;
    margin-right: 0.12rem;
}
.StrongBox__container-income-godetail[data-v-6455ca11] {
    text-align: center;
    height: 0.4rem;
    line-height: .4rem;
    font-size: .32rem;
    color: #888;
    margin-top: 0.46667rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.StrongBox__container-income-godetail img[data-v-6455ca11] {
    width: 0.42667rem;
    height: 0.42667rem;
}

.StrongBox__container-income-buttom[data-v-6455ca11] {
    margin-top: 0.33333rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.StrongBox__container-income-buttom>div[data-v-6455ca11] {
    width: 9.34667rem;
    height: 0.93333rem;
    line-height: .93333rem;
    border: 0.01333rem solid #ffffff;
    border-radius: 0.13333rem;
    font-size: .37333rem;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    background: radial-gradient(ellipse at top left, #EEBD54 0%,rgb(215 130 7) 57%);
}
    </style>
</head>

<body style="font-size: 12px;">
    <div id="app">
        <div data-v-11ffe290="" class="mian">
            <div data-v-106b99c8="" data-v-11ffe290="" class="navbar action">
                <div data-v-106b99c8="" class="navbar-left" onclick="location.href='/activity'">
                    <div data-v-a9660e98="" data-v-106b99c8="" class="c-row c-row-middle-center">
                        <img data-v-a9660e98="" data-v-106b99c8="" src="/images/back.c3244ab0.png"
                            class="navbar-back" />
                    </div>
                </div>

                <div data-v-106b99c8="" class="navbar-left"></div>
                <div data-v-106b99c8="" class="navbar-title"> Safe </div>
                <div data-v-106b99c8="" class="navbar-right" onclick="location.href='/keFuMenu'">
                    <div data-v-11ffe290="" data-v-106b99c8="" class="c-row">
                        <img data-v-11ffe290="" data-v-106b99c8="" src="/images/audio.webp" class="audio">
                    </div>
                </div>
            </div>
            <div data-v-11ffe290="" class="check-box">
                <br>
                <div data-v-6455ca11="" class="StrongBox__container-dailyRate">Interest rate 0.2%</div>
                <div data-v-ffd9d03e="" data-v-6455ca11="" class="TotalAssets__container">
                    <div data-v-ffd9d03e="" class="TotalAssets__container-header">
                        <div data-v-ffd9d03e="" class="TotalAssets__container-header__left"><img data-v-ffd9d03e=""
                                alt="" class="" data-origin="images/vault-a933a89f.png"
                                src="/images/vault-a933a89f.png"> Total amount</div>
                        <div data-v-ffd9d03e="" class="TotalAssets__container-header__right"><img data-v-ffd9d03e=""
                                alt="" class=""
                                data-origin="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAA4CAMAAACIelvlAAAANlBMVEUAAAD////////////////////////////////////////////////////////////////////xY8b8AAAAEXRSTlMAf2DfIBDvQL+gz6+Qj3AwUNw9ENwAAAEkSURBVEjH7dZLjoMwEEXRB/7zr/1vthUpJcJzcGGpe9Z3huC4Yiyk4DcLAV2ldRKZ1vR0+W2O8i7Oo3+yPMXD6uXrdJi9fD2subwxLBTpqAQAJKxmYJfOgPGf/AGJ2XWSAcBAxBZAJGILZCK2gCNiCGMvhiDiEvzQEEqO8yLp3ZaQy/ei92txJeG8CPoECyKIoq36TEtEPSNa915IBrDIF3MrZIG+MjLpTsgB3T8ZFvSOMpmmyHi1CZmGkBGvQiRTi+rsFiFzL4q+nrsvt87jXRbK5SitIYAXIx6iu7ErOAvuiXAeHyUb6Jn0/LQF18JkCQfOO3MjprEFsDdM3MHVc+oZtrFF459GCWg1VoPiBiNPg7KH3eE+QMKzxlwBu724uHwHPz9ndt9Y/0WDAAAAAElFTkSuQmCC"
                                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAA4CAMAAACIelvlAAAANlBMVEUAAAD////////////////////////////////////////////////////////////////////xY8b8AAAAEXRSTlMAf2DfIBDvQL+gz6+Qj3AwUNw9ENwAAAEkSURBVEjH7dZLjoMwEEXRB/7zr/1vthUpJcJzcGGpe9Z3huC4Yiyk4DcLAV2ldRKZ1vR0+W2O8i7Oo3+yPMXD6uXrdJi9fD2subwxLBTpqAQAJKxmYJfOgPGf/AGJ2XWSAcBAxBZAJGILZCK2gCNiCGMvhiDiEvzQEEqO8yLp3ZaQy/ei92txJeG8CPoECyKIoq36TEtEPSNa915IBrDIF3MrZIG+MjLpTsgB3T8ZFvSOMpmmyHi1CZmGkBGvQiRTi+rsFiFzL4q+nrsvt87jXRbK5SitIYAXIx6iu7ErOAvuiXAeHyUb6Jn0/LQF18JkCQfOO3MjprEFsDdM3MHVc+oZtrFF459GCWg1VoPiBiNPg7KH3eE+QMKzxlwBu724uHwHPz9ndt9Y/0WDAAAAAElFTkSuQmCC">
                            Financial security</div>
                    </div>
                    <div data-v-ffd9d03e="" class="TotalAssets__container-main">$ <span class="num-total"></span></div>
                    <div data-v-ffd9d03e="" class="TotalAssets__container-tip">Transfer in 1 million, income 1000 per
                        day</div>
                </div>
                <div data-v-2605efec="" class="laundry-page_container">
                    <div data-v-2605efec="" class="laundry-page_box">

                        <div data-v-6455ca11="" class="StrongBox__container-income">
                            <div data-v-6455ca11="" class="StrongBox__container-income-header">
                                <div data-v-6455ca11="" class="StrongBox__container-income-header-left">
                                    <div data-v-6455ca11="" class="StrongBox__container-income-header-left-num">$<span class="num-todays"></span>
                                    </div>
                                    <div data-v-6455ca11="" class="StrongBox__container-income-header-left-text">
                                        Unclaimed Interest</div>
                                    <div data-v-6455ca11="" class="StrongBox__container-income-header-left-myrale">My
                                        interest rate 0.2%</div>
                                </div>
                                <div data-v-6455ca11="" class="StrongBox__container-income-header-right">
                                    <div data-v-6455ca11="" class="StrongBox__container-income-header-right-num">$<span class="num-total"></span>
                                    </div>
                                    <div data-v-6455ca11="" class="StrongBox__container-income-header-right-text">
                                        Total Interest</div>
                                </div>
                            </div>
                            <div data-v-6455ca11="" class="StrongBox__container-income-buttom">
                          
                                <div data-v-6455ca11="">Transfer In</div>
                            </div>
                            <div data-v-6455ca11="" class="StrongBox__container-income-tip"><svg data-v-6455ca11=""
                                    width="30" height="30" viewBox="0 0 30 30" fill="none"
                                    xmlns="http://www.w3.org/2000/svg" class="StrongBox__container-errorTip">
                                    <path
                                        d="M15 27.5C18.4517 27.5 21.5768 26.1009 23.8388 23.8388C26.1009 21.5768 27.5 18.4517 27.5 15C27.5 11.5482 26.1009 8.42325 23.8388 6.16116C21.5768 3.89911 18.4517 2.5 15 2.5C11.5482 2.5 8.42325 3.89911 6.16116 6.16116C3.89911 8.42325 2.5 11.5482 2.5 15C2.5 18.4517 3.89911 21.5768 6.16116 23.8388C8.42325 26.1009 11.5482 27.5 15 27.5Z"
                                        stroke="#FE6868" stroke-linejoin="round"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M15 23.125C15.8629 23.125 16.5625 22.4254 16.5625 21.5625C16.5625 20.6996 15.8629 20 15 20C14.1371 20 13.4375 20.6996 13.4375 21.5625C13.4375 22.4254 14.1371 23.125 15 23.125Z"
                                        fill="#FF7172"></path>
                                    <path d="M15 7.5V17.5" stroke="#FE6868" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </svg> Funds are safe and secure, and can be transferred at any time</div>
                            <div data-v-6455ca11="" class="StrongBox__container-income-godetail">Learn about safes <img
                                    data-v-6455ca11=""
                                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAAPFBMVEUAAACHh4eIiIiJiYmAgICJiYmHh4eHh4eKioqIiIiIiIiGhoaJiYmIiIiJiYmHh4eFhYWIiIiHh4eIiIgCAT3rAAAAE3RSTlMAIN/vEH/PgDCgkFCvcF9AML9gyaL0PgAAANtJREFUWMPtltsOgjAYg9mBcRJQ+/7v6mIcnd51SzTqevXftAlfS6Bramr6ZZns9l73zwiHa3RY5AAHnNK9Au4seJMJU3oCGxOMmjAA6BOPmGCNToEJo4sJMskJwPa493gHOSEAB/4rElVBPtzxk8kkj4n4SVUR8ZOqJOInVTkhw+9JVVCO39vaUZsPjnrPqF7UgD5jZxgg+YeiR6B/rvBvrzWO5UPqpCGRmTXZlNeyl4kw3+onM5ahiMxYhiIyYxllA2QZ3zXgp4/rwDIUgmS2wy3VPxhNTU1/ohtVZA/vD+fAoAAAAABJRU5ErkJggg=="
                                    alt=""></div>
                        </div>


                                           </div>
                    <div data-v-2605efec="" class="laundry-page_list">
                        <div data-v-2605efec="" class="title">History</div>

                        <div data-v-14912091="" class="box">
                            <div data-v-14912091="" class="table">
                                <div data-v-14912091="" class="hd van-row">
                                    <div data-v-14912091="" class="c-tc van-ellipsis van-col van-col--8">Time
                                    </div>
                                    <div data-v-14912091="" class="c-tc van-ellipsis van-col van-col--8">Receive Amount
                                    </div>
                                    <div data-v-14912091="" class="c-tc van-ellipsis van-col van-col--8">Remarks</div>
                                </div>
                                <div data-v-14912091="" class="list">
                                    <div data-v-14912091="" role="feed" class="van-list">
                                        <div id="van-list">

                                        </div>

                                    </div>
                                </div>

                                </button>
                            </div>
                        </div>



                    </div>
                    <div data-v-7692a079="" data-v-432e6ed0="" class="Loading c-row c-row-middle-center">
                        <div data-v-7692a079="" class="van-loading van-loading--circular">
                            <span data-v-7692a079="" class="van-loading__spinner van-loading__spinner--circular"
                                style="color: rgb(242, 65, 59);">
                                <svg data-v-7692a079="" viewBox="25 25 50 50" class="van-loading__circular">
                                    <circle data-v-7692a079="" cx="50" cy="50" r="20" fill="none"></circle>
                                </svg>
                            </span>
                        </div>
                    </div>
                    <%- include('../nav') -%>
                </div>
            </div>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script src="/js/client.js"></script>
            <script>
                function alertMess(text, sic) {
                    $('body').append(
                        `
                <div data-v-1dcba851="" class="msg">
                    <div data-v-1dcba851="" class="msg-content v-enter-active v-enter-to" style=""> ${text} </div>
                </div>
                `
                    );
                    setTimeout(() => {
                        $('.msg .msg-content').removeClass('v-enter-active v-enter-to');
                        $('.msg .msg-content').addClass('v-leave-active v-leave-to');
                        setTimeout(() => {
                            $('.msg').remove();
                        }, 100);
                        sic.removeClass('block-click');
                    }, 1000);
                }
                $('.list .item').click(function (e) {
                    e.preventDefault();
                    $(this).addClass('block-click');
                    let data = $(this).attr('data-dpr');
                    let wd = $(this);
                    $.ajax({
                        type: "POST",
                        url: "/api/webapi/checkIn",
                        data: {
                            data: data,
                        },
                        dataType: "json",
                        success: function (response) {
                            alertMess(response.message, wd);
                            if (response.status === false) return;
                            wd.removeClass('action');
                            wd.find('.txt').text('Đã nhận');
                        }
                    });
                });
                $.ajax({
                    type: "POST",
                    url: "/api/webapi/checkIn",
                    data: {

                    },
                    dataType: "json",
                    success: function (response) {
                        let data = response.datas[0];
                        if (data.total1 == 0) {
                            $('.list .item:eq(0)').removeClass('action');
                            $('.list .item:eq(0)').addClass('block-click');
                            $('.list .item:eq(0) .txt').text('Received');
                        }
                        if (data.total2 == 0) {
                            $('.list .item:eq(1)').removeClass('action');
                            $('.list .item:eq(1)').addClass('block-click');
                            $('.list .item:eq(1) .txt').text('Received');
                        }
                        if (data.total3 == 0) {
                            $('.list .item:eq(2)').removeClass('action');
                            $('.list .item:eq(2)').addClass('block-click');
                            $('.list .item:eq(2) .txt').text('Received');
                        }
                        if (data.total4 == 0) {
                            $('.list .item:eq(3)').removeClass('action');
                            $('.list .item:eq(3)').addClass('block-click');
                            $('.list .item:eq(3) .txt').text('Received');
                        }
                        if (data.total5 == 0) {
                            $('.list .item:eq(4)').removeClass('action');
                            $('.list .item:eq(4)').addClass('block-click');
                            $('.list .item:eq(4) .txt').text('Received');
                        }
                        if (data.total6 == 0) {
                            $('.list .item:eq(5)').removeClass('action');
                            $('.list .item:eq(5)').addClass('block-click');
                            $('.list .item:eq(5) .txt').text('Received');
                        }
                        if (data.total7 == 0) {
                            $('.list .item:eq(6)').removeClass('action');
                            $('.list .item:eq(6)').addClass('block-click');
                            $('.list .item:eq(6) .txt').text('Received');
                        }

                    }
                });
            </script>
            <script>
                $(window).on('load', function () {
                    $('.Loading').fadeOut(0);
                });
            </script>

            <script>

                    $('.StrongBox__container-income-buttom').click(function (e) {
                        e.preventDefault();
                        let data = $(this).attr('data-dpr');

                        $.ajax({
                            type: "POST",
                            url: "/api/webapi/claimInterest",
                            data: {
                                data: data,
                            },
                            dataType: "json",
                            success: function (response) {
                                $('.num-todays').text(0);
                                alertMess(response.message);
                            
                            }
                        });
                    });
                    
                function formateT(params) {
                    let result = (params < 10) ? "0" + params : params;
                    return result;
                }

                function timerJoin(params = '') {
                    let date = '';
                    if (params) {
                        date = new Date(Number(params));
                    } else {
                        date = new Date();
                    }
                    let years = formateT(date.getFullYear());
                    let months = formateT(date.getMonth() + 1);
                    let days = formateT(date.getDate());

                    let hours = formateT(date.getHours());
                    let minutes = formateT(date.getMinutes());
                    let seconds = formateT(date.getSeconds());
                    return years + '-' + months + '-' + days;
                }
                $('.nav .van-tabbar-item:eq(0) img').attr('src', '/images/home1.png');
                $('.nav .van-tabbar-item:eq(0) .name').removeClass('action');
                $('.nav .van-tabbar-item:eq(2) .name').addClass('action');
                function MemRender(datas) {
                    let html = '';
                    datas.map((data) => {
                        html += `
                                <div data-v-14912091="" class="bd van-row">
                                    <div data-v-14912091="" class="c-tc van-col van-col--8">${timerJoin(data.ttime)}</div>
                                    <div data-v-14912091="" class="c-tc van-col van-col--8">${data.money}</div>
                                    <div data-v-14912091="" class="c-tc van-col van-col--8">${data.remarks}</div>
                                </div>
                                `;
                    });
                    $('#van-list').html(html);
                }
                $.ajax({
                    type: "GET",
                    url: "/api/webapi/rebateBonus",
                    dataType: "json",
                    success: function (response) {
                        MemRender(response.total_roses);

                        $('.num-total').text((response.total_rebate)?response.total_rebate:0.00);
                        $('.num-todays').text((response.today_rebate)?response.today_rebate:0.00);
                    }
                });
            </script>

</body>

</html>