<!DOCTYPE html>
<html translate="no" data-dpr="1" style="font-size: 48.16px;">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="robots" content="noindex,nofollow">
	<meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
	<title>Meta AI</title>
	<link href="/css/home/chunk-vendors.css" rel="stylesheet" />
	<link href="/css/home/app.css" rel="stylesheet" />
	<link href="/css/home/chunk.css" rel="stylesheet" />
	<link href="/css/home/chunk2.css" rel="stylesheet" />
	<link rel="shortcut icon" href="/images/bitbug_favicon.png" type="image/x-icon" />
	<style>
		html,
		body {
			height: 100%;
			width: 100%;
			background-color: #9195a3;
			padding: 0;
			margin: 0;
		}
		 #notice {
        -moz-animation: marquee 10s linear infinite;
        -webkit-animation: marquee 10s linear infinite;
        animation: marquee 10s linear infinite;
      }
      @-moz-keyframes marquee {
        0% {
          transform: translateX(100%);
        }
        100% {
          transform: translateX(-100%);
        }
      }
      @-webkit-keyframes marquee {
        0% {
          transform: translateX(100%);
        }
        100% {
          transform: translateX(-100%);
        }
      }
      @keyframes marquee {
        0% {
          -moz-transform: translateX(100%);
          -webkit-transform: translateX(100%);
          transform: translateX(100%)
        }
        100% {
          -moz-transform: translateX(-100%);
          -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
        }
      }
	</style>
</head>

<body style="font-size: 12px;" class="">
	<div id="app">
		<div data-v-432e6ed0="" class="home mian game">
			<div data-v-106b99c8="" data-v-432e6ed0="" class="navbar">
				<div data-v-106b99c8="" class="navbar-left"></div>
				<div data-v-106b99c8="" class="navbar-title">
					<!---->
					<div data-v-432e6ed0="" data-v-106b99c8="" class="c-row c-row-middle-center">
						<img data-v-432e6ed0="" data-v-106b99c8="" height="38px" width="100px"
							src="/images/METAAI.png" class="logo" style="    height: 2.01333rem!important;
							width: 2.66667rem !important;">
					</div>
				</div>
				<div data-v-106b99c8="" class="navbar-right" >
					<div data-v-432e6ed0="" data-v-106b99c8="" class="c-row c-row-middle-center">
				<!--		 <a data-v-432e6ed0="" data-v-106b99c8="" href="" class="c-row c-row-middle-center">
							<img data-v-432e6ed0="" data-v-106b99c8="" height="25px" width="25px" src="/images/down.png"
								class="down">
						</a> -->
						<img data-v-432e6ed0="" data-v-106b99c8="" height="25px" width="25px" src="/images/down2.png"
							class="down">
					</div>
				</div>
			</div>
			<div data-v-432e6ed0="" class="banner">
				<div data-v-432e6ed0="" class="van-swipe">
					<div class="van-swipe__track list-banner"
						style="width: 1448px; transition-duration: 0ms; transform: translateX(0px);">
						<div data-v-432e6ed0="" class="van-swipe-item" style="width: 482px;">
							<img data-v-432e6ed0="" src="/images/Banner_20220613175939dr75.jpg" class="img">
						</div>
						<div data-v-432e6ed0="" class="van-swipe-item" style="width: 482px;">
							<img data-v-432e6ed0="" src="/images/Banner_20220605133236gh3l.jpg" class="img">
						</div>
						<div data-v-432e6ed0="" class="van-swipe-item" style="width: 482px;">
							<img data-v-432e6ed0="" src="/images/88ba9bd6911d53430a0c.jpg" class="img">
						</div>
						<div data-v-432e6ed0="" class="van-swipe-item" style="width: 482px;">
							<img data-v-432e6ed0="" src="/images/lottery79.jpg" class="img">
						</div>
					</div>
					<div class="van-swipe__indicators">
						<i class="van-swipe__indicator" style=""></i>
						<i class="van-swipe__indicator" style=""></i>
						<i class="van-swipe__indicator" style=""></i>
						<i class="van-swipe__indicator"></i>
					</div>
				</div>
			</div>
			<div data-v-432e6ed0="" class="notice" style="
			border-radius: 10px;
			margin: 10px;
		">				
				<div data-v-432e6ed0="" class="notice-box c-row c-row-between">
					<div data-v-432e6ed0="" role="alert" class="van-notice-bar" style="font-size: 15px; background-color: #3a3a3a;">
						<i class="van-icon van-icon-volume-o van-notice-bar__left-icon">
							<!---->
						</i>
						<div role="marquee" class="van-notice-bar__wrap">
							<div><p id="notice">Welcome to Meta AI Website.</p>
							</div>
						</div>
					</div>
					<div data-v-432e6ed0="" class="txt">
						<span data-v-432e6ed0="" class="sp">
							<img data-v-432e6ed0="" src="/images/notice-right.svg" class="img">Latest Notification
						</span>
					</div>
				</div>
			</div>
			<div data-v-432e6ed0="" class="home-com">
				<div data-v-432e6ed0="" class="van-tabs van-tabs--line home-tab action">
					<div class="van-tabs__wrap van-hairline--top-bottom">
						<div role="tablist" class="van-tabs__nav van-tabs__nav--line">
							<div role="tab" aria-selected="true" class="van-tab van-tab--active">
								<span class="van-tab__text van-tab__text--ellipsis">
									<div data-v-432e6ed0="">
										<img data-v-432e6ed0="" src="/images/CP.png" class="img">
									</div>
								</span>
							</div>
							<div role="tab" class="van-tab testing-list-game">
								<span class="van-tab__text van-tab__text--ellipsis">
									<div data-v-432e6ed0="">
										<img data-v-432e6ed0="" src="/images/DZ.webp" class="img">
									</div>
								</span>
							</div>
							<div role="tab" class="van-tab testing-list-game">
								<span class="van-tab__text van-tab__text--ellipsis">
									<div data-v-432e6ed0="">
										<img data-v-432e6ed0="" src="/images/DC.webp" class="img">
									</div>
								</span>
							</div>
							<div role="tab" class="van-tab testing-list-game">
								<span class="van-tab__text van-tab__text--ellipsis">
									<div data-v-432e6ed0="">
										<img data-v-432e6ed0="" src="/images/TY.webp" class="img">
									</div>
								</span>
							</div>
							<div class="van-tabs__line"
								style="width: 56.5px; transform: translateX(56.5px) translateX(-50%);"></div>
						</div>
					</div>
					<div class="van-tabs__content">
						<div data-v-432e6ed0="" role="tabpanel" class="c-row-between van-tab__pane" style="">
							<div data-v-432e6ed0="" class="gameList m-t-20">
								<div data-v-432e6ed0="" class="item m-b-20 list-games" onclick="location.href='/win'">
									<div data-v-432e6ed0="" class="info i3">
										<div data-v-432e6ed0="" class="name"> WIN GO </div>
										<div data-v-432e6ed0="" class="des"> Guess green/purple/red to win the game</div>
										<img data-v-432e6ed0="" width="120px" height="85px"
											src="/images/logo-wingo.webp" class="img m-r-5">
									</div>
									<div data-v-432e6ed0="" class="userList">
										<div data-v-39efd474="" data-v-432e6ed0="" class="gomeList">
											<div data-v-39efd474="" class="list">
												<div data-v-39efd474="" class="swpier van-swipe">
													<div class="van-swipe__track van-swipe__track--vertical"
														style="height: 200px; transition-duration: 500ms; transform: translateY(0px);"
														id="wingo">
														<!---->
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!---->
								<div data-v-432e6ed0="" class="item m-b-20 list-games" onclick="location.href='/5d'">
									<div data-v-432e6ed0="" class="info i2">
										<div data-v-432e6ed0="" class="name"> 5D Lotre </div>
										<div data-v-432e6ed0="" class="des"> Guess the number/big/small/odd/even </div>
										<img data-v-432e6ed0="" width="120px" height="85px"
											src="/images/logo-lottery.webp" class="img m-r-5">
									</div>
									<div data-v-432e6ed0="" class="userList">
										<div data-v-39efd474="" data-v-432e6ed0="" class="gomeList">
											<div data-v-39efd474="" class="list">
												<div data-v-39efd474="" class="swpier van-swipe">
													<div class="van-swipe__track van-swipe__track--vertical"
														style="height: 255px; transition-duration: 500ms; transform: translateY(0px);" 
														id="k5d">
														
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div data-v-432e6ed0="" class="item m-b-20 list-games" onclick="location.href='/k3'">
									<div data-v-432e6ed0="" class="info i4">
										<div data-v-432e6ed0="" class="name">K3 Lotre</div>
										<div data-v-432e6ed0="" class="des"> Guess the number/big/small/odd/even </div>
										<img data-v-432e6ed0="" width="120px" height="85px" src="/images/logo-k333.webp"
											class="img m-r-5">
									</div>
									<div data-v-432e6ed0="" class="userList">
										<div data-v-39efd474="" data-v-432e6ed0="" class="gomeList">
											<div data-v-39efd474="" class="list">
												<div data-v-39efd474="" class="swpier van-swipe">
													<div class="van-swipe__track van-swipe__track--vertical"
														style="height: 255px; transition-duration: 500ms; transform: translateY(0px);" 
														id="k3">
														
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!---->
							</div>
						</div>
						<div data-v-432e6ed0="" role="tabpanel" class="c-row-between van-tab__pane"
							style="display: none;">
							<!---->
						</div>
						<div data-v-432e6ed0="" role="tabpanel" class="c-row-between van-tab__pane"
							style="display: none;">
							<!---->
						</div>
						<div data-v-432e6ed0="" role="tabpanel" class="c-row-between van-tab__pane"
							style="display: none;">
							<!---->
						</div>
					</div>
				</div>
			</div>
			<!---->
			<div data-v-432e6ed0="" class="bonus-box">
				<div data-v-432e6ed0="" class="img van-image" style="width: 100%; height: 230px;top: -4%;">
					<img src="/images/coin-bonus.webp" class="van-image__img">
				</div>
				<div data-v-432e6ed0="" class="bonus-bg" style="">
					<div data-v-432e6ed0="" class="inner">
						<!----><span data-v-432e6ed0=""> ₹&nbsp;6788716</span>
					</div>
				</div>
			</div>
			<div data-v-432e6ed0="" class="running-time">
				<p data-v-432e6ed0="" class="running-title c-tc"> Website Runtime</p>
				<div data-v-432e6ed0="" class="c-row c-row-between list-flip_nums" style="padding: 0px 33px 30px;">
					<div data-v-432e6ed0="" class="flip-num">
						<div data-v-432e6ed0="" class="top">00</div>
						<div data-v-432e6ed0="" class="bottom">Days</div>
						<div data-v-432e6ed0="" class="bottom-card">
							<div data-v-432e6ed0="" class="back">
								<p data-v-432e6ed0="">00</p>
							</div>
							<div data-v-432e6ed0="" class="front c-tc"> Days </div>
						</div>
					</div>
					<div data-v-432e6ed0="" class="flip-num">
						<div data-v-432e6ed0="" class="top">00</div>
						<div data-v-432e6ed0="" class="bottom">Hours</div>
						<div data-v-432e6ed0="" class="bottom-card">
							<div data-v-432e6ed0="" class="back">
								<p data-v-432e6ed0="" class="c-tc">00</p>
							</div>
							<div data-v-432e6ed0="" class="front c-tc"> Hours </div>
						</div>
					</div>
					<div data-v-432e6ed0="" class="flip-num">
						<div data-v-432e6ed0="" class="top">00</div>
						<div data-v-432e6ed0="" class="bottom c-tc"> Minutes </div>
						<div data-v-432e6ed0="" class="bottom-card">
							<div data-v-432e6ed0="" class="back">
								<p data-v-432e6ed0="" class="c-tc">00</p>
							</div>
							<div data-v-432e6ed0="" class="front c-tc"> Minutes</div>
						</div>
					</div>
					<div data-v-432e6ed0="" class="flip-num">
						<div data-v-432e6ed0="" class="top">00</div>
						<div data-v-432e6ed0="" class="bottom c-tc"> Seconds</div>
						<div data-v-432e6ed0="" class="bottom-card">
							<div data-v-432e6ed0="" class="back c-tc">
								<p data-v-432e6ed0="" class="c-tc">00</p>
							</div>
							<div data-v-432e6ed0="" class="front c-tc">Seconds</div>
						</div>
					</div>
				</div>
			</div>
			<div data-v-432e6ed0="" class="web-info c-row c-row-between">
				<div data-v-432e6ed0="" class="item c-tc">
					<div data-v-432e6ed0="" class="c-row c-row-cetner">
						<div data-v-432e6ed0="" class="img van-image" style="width: 40px; height: 40px;">
							<img src="/images/u_home.png" class="van-image__img">
						</div>
					</div>
					<div data-v-432e6ed0="" class="num" id="player"></div>
					<div data-v-432e6ed0="" class="txt"> Players </div>
				</div>
				<div data-v-432e6ed0="" class="item c-tc">
					<div data-v-432e6ed0="" class="c-row c-row-cetner">
						<div data-v-432e6ed0="" class="img van-image" style="width: 40px; height: 40px;">
							<img src="/images/q_home.png" class="van-image__img">
						</div>
					</div>
					<div data-v-432e6ed0="" class="num" id="betting"></div>
					<div data-v-432e6ed0="" class="txt">Total Of Betting </div>
				</div>
				<div data-v-432e6ed0="" class="item c-tc">
					<div data-v-432e6ed0="" class="c-row c-row-cetner">
						<div data-v-432e6ed0="" class="img van-image" style="width: 40px; height: 40px;">
							<img src="/images/us_home.png" class="van-image__img">
						</div>
					</div>
					<div data-v-432e6ed0="" class="num" id="online"></div>
					<div data-v-432e6ed0="" class="txt"> Online </div>
				</div>
			</div>
			<div data-v-432e6ed0="" class="rank-box">
				<div data-v-432e6ed0="" class="rank-tit"> Withdrawal Chart</div>
				<div data-v-e52eeae0="" data-v-432e6ed0="" class="RankList">
					<div data-v-e52eeae0="" class="van-swipe" style="height: 100%;">
						<div class="van-swipe__track van-swipe__track--vertical" 
						style="height: 462px; transition-duration: 500ms; transform: translateY(-358px);" 
						id="top-recharge">
							<!---->
						</div>
					</div>
				</div>
			</div>
			<div data-v-432e6ed0="" class="home-how">
				<div data-v-432e6ed0="" class="info">
					<div data-v-432e6ed0="" class="tit"> How to bet ? </div>
					<div data-v-432e6ed0="" class="tab c-row c-flex-warp c-row-between" id="tab_support">
						<div data-v-432e6ed0="" class="item c-row c-row-between action c-row-middle">
							<div data-v-432e6ed0="">
								<div data-v-432e6ed0="" class="step"> First Step</div>
								<div data-v-432e6ed0="" color="#e45d61" class="name"> Choose a game </div>
							</div>
							<div data-v-432e6ed0="">
								<div data-v-432e6ed0="" class="van-image" style="width: 35px; height: 35px;"><img
										src="/images/work_first_hong.webp" class="van-image__img"></div>
							</div>
						</div>
						<div data-v-432e6ed0="" class="item c-row c-row-between c-row-middle">
							<div data-v-432e6ed0="">
								<div data-v-432e6ed0="" class="step"> Second Step</div>
								<div data-v-432e6ed0="" color="#000" class="name"> Choose your lucky number</div>
							</div>
							<div data-v-432e6ed0="">
								<div data-v-432e6ed0="" class="van-image" style="width: 35px; height: 35px;"><img
										src="/images/0d.png" class="van-image__img"></div>
							</div>
						</div>
						<div data-v-432e6ed0="" class="item c-row c-row-between c-row-middle">
							<div data-v-432e6ed0="">
								<div data-v-432e6ed0="" class="step"> Third Step </div>
								<div data-v-432e6ed0="" color="#000" class="name"> Betting</div>
							</div>
							<div data-v-432e6ed0="">
								<div data-v-432e6ed0="" class="van-image" style="width: 35px; height: 35px;"><img
										src="/images/bet.png" class="van-image__img"></div>
							</div>
						</div>
						<div data-v-432e6ed0="" class="item c-row c-row-between c-row-middle">
							<div data-v-432e6ed0="">
								<div data-v-432e6ed0="" class="step"> Fourth Step </div>
								<div data-v-432e6ed0="" color="#000" class="name"> Get Bonus </div>
							</div>
							<div data-v-432e6ed0="">
								<div data-v-432e6ed0="" class="van-image" style="width: 35px; height: 35px;"><img
										src="/images/scsc.png" class="van-image__img"></div>
							</div>
						</div>
					</div>
				</div>
				<div data-v-432e6ed0="" class="how-list m-t-20">
					<div data-v-432e6ed0="" class="swipe van-swipe" id="swipe_van-swipe">
						<div class="van-swipe__track" id="show-support"
							style="width: 1272px; transition-duration: 0ms; transform: translateX(0px);">
							<div data-v-432e6ed0="" class="van-swipe-item" style="">
								<div data-v-432e6ed0="" class="c-tc m-b-15 van-ellipsis">Choose a game you love
								</div>
								<div data-v-432e6ed0="" class="van-multi-ellipsis--l2">You can choose to play lottery games every 1 minute, 3 minutes, 5 minutes, and 10 minutes.</div>
							</div>
							<div data-v-432e6ed0="" class="van-swipe-item" style="">
								<div data-v-432e6ed0="" class="c-tc m-b-15 van-ellipsis">Choose your lucky number
								</div>
								<div data-v-432e6ed0="" class="van-multi-ellipsis--l2">Choose your lucky number or color</div>
							</div>
							<div data-v-432e6ed0="" class="van-swipe-item" style="">
								<div data-v-432e6ed0="" class="c-tc m-b-15 van-ellipsis">Place A bet</div>
								<div data-v-432e6ed0="" class="van-multi-ellipsis--l2">Choose the amount of money you want to bet and confirm.</div>
							</div>
							<div data-v-432e6ed0="" class="van-swipe-item" style="">
								<div data-v-432e6ed0="" class="c-tc m-b-15 van-ellipsis">Win The Prize</div>
								<div data-v-432e6ed0="" class="van-multi-ellipsis--l2">When you choose a lucky number for the current round, the system will automatically add the prize money to your balance.</div>
							</div>
						</div>
					</div>
					<div data-v-432e6ed0="" class="arrow">
						<div data-v-432e6ed0="" class="item left">
							<div data-v-432e6ed0="" class="arr c-row c-row-middle-center action"><i data-v-432e6ed0=""
									class="van-icon van-icon-arrow-left"
									style="color: rgb(255, 255, 255); font-size: 35px;">
									<!---->
								</i></div>
						</div>
						<div data-v-432e6ed0="" class="item right">
							<div data-v-432e6ed0="" class="arr c-row c-row-middle-center action"><i data-v-432e6ed0=""
									class="van-icon van-icon-arrow" style="color: rgb(255, 255, 255); font-size: 35px;">
									<!---->
								</i></div>
						</div>
					</div>
				</div>
			</div>
			<!---->
			<div data-v-432e6ed0="" id="moveBox" class="moveBox" style="display: none;">
				<div data-v-432e6ed0="" class="moveHead c-row c-row-between c-row-middle">
					<div data-v-432e6ed0="" class="close"> Close </div>
					<div data-v-432e6ed0=""><span data-v-432e6ed0="">Full Screen</span></div>
				</div>
				<div data-v-432e6ed0="" class="long">
					<div data-v-432e6ed0="" class="van-tabs van-tabs--line">
						<div class="van-tabs__wrap van-hairline--top-bottom">
							<div role="tablist" class="van-tabs__nav van-tabs__nav--line">
								<div role="tab" aria-selected="true" class="van-tab van-tab--active"><span
										class="van-tab__text van-tab__text--ellipsis">Bệt rồng mới nhất</span></div>
								<div role="tab" class="van-tab"><span class="van-tab__text van-tab__text--ellipsis">My Bets</span></div>
								<div class="van-tabs__line"></div>
							</div>
						</div>
						<div class="van-tabs__content">
							<div data-v-432e6ed0="" role="tabpanel" class="van-tab__pane" style="">
								<div data-v-432e6ed0="" class="longlist"></div>
							</div>
							<div data-v-432e6ed0="" role="tabpanel" class="van-tab__pane" style="display: none;">
								<!---->
							</div>
						</div>
					</div>
				</div>
			</div>
			<!---->
			<div data-v-7692a079="" data-v-432e6ed0="" class="Loading c-row c-row-middle-center">
				<div data-v-7692a079="" class="van-loading van-loading--circular">
					<span data-v-7692a079="" class="van-loading__spinner van-loading__spinner--circular"
						style="color: rgb(242, 65, 59);">
						<svg data-v-7692a079="" viewBox="25 25 50 50" class="van-loading__circular">
							<circle data-v-7692a079="" cx="50" cy="50" r="20" fill="none"></circle>
						</svg>
					</span>
				</div>
			</div>
			<%- include('../nav') -%>
		</div>
	</div>
	<div class="van-overlay" style="z-index: 2001; display: none;" id="modalUser"></div>
	<div role="dialog" class="van-dialog" style="z-index: 2002; display: none;" aria-labelledby="Lời nhắc" id="modalUser">
		<div class="van-dialog__header">Reminder</div>
		<div class="van-dialog__content">
			<div class="van-dialog__message van-dialog__message--has-title">
				<font face="Arial">Reminder : It reminds customers to copy the exact random amount shown by the system when making the deposit and paste it into the payment description to ensure the automatic credit of points or funds. Additionally, it advises against reserving the transfer with the bank and warns that the company will not be responsible for any loss resulting from incorrect transfers !</font><br>
			</div>
		</div>
		<div class="van-hairline--top van-dialog__footer">
			<button class="van-button van-button--default van-button--large van-dialog__confirm">
				<div class="van-button__content"><span class="van-button__text">Confirm</span></div>
			</button>
		</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="/js/client.js"></script>
	
	<script>
		$(document).ready(function () {
			function alertMess(text, sic) {
				$('body').append(
					`
					<div data-v-1dcba851="" class="msg">
						<div data-v-1dcba851="" class="msg-content v-enter-active v-enter-to" style=""> ${text} </div>
					</div>
					`
				);
				setTimeout(() => {
					$('.msg .msg-content').removeClass('v-enter-active v-enter-to');
					$('.msg .msg-content').addClass('v-leave-active v-leave-to');
					setTimeout(() => {
						$('.msg').remove();
					}, 100);
					sic.removeClass('block-click');
				}, 1000);
			}
			// $('.gameList .list-games:eq(2), .testing-list-game').click(function (e) {
			// 	e.preventDefault();
			// 	$(this).addClass('block-click');
			// 	alertMess('Currently under development', $(this));
			// });
			let getWBody = $('.navbar').width();
			let getswipe = $('#swipe_van-swipe').width();
			$(".list-banner .van-swipe-item").css("width", `${getWBody}px`);
			$("#swipe_van-swipe .van-swipe__track .van-swipe-item").css("width", `${getswipe}px`);

			let formSlide = document.querySelector('.van-notice-bar__content');
			if (formSlide) {
				formSlide.style = 'transition-duration: 44.0815s; transform: translateX(-2204.07px);';
			}

			$('#tab_support .item').click(function (e) {
				e.preventDefault();
				$('#tab_support .item').removeClass('action');
				let elementThis = $(this).addClass('action');
			});
			$('#tab_support .item:eq(0)').click(function (e) {
				e.preventDefault();
				$('#show-support .van-swipe-item .van-ellipsis').text('Choose a game');
				$('#show-support .van-swipe-item .van-multi-ellipsis--l2').text('You can choose to play lottery games every 1 minute, 3 minutes, 5 minutes, and 10 minutes.');
			});

			$('#tab_support .item:eq(1)').click(function (e) {
				e.preventDefault();
				let action = $(this).children().children().children();
				action.attr('src', '/images/support2.png');
				$('#show-support .van-swipe-item .van-ellipsis').text('Choose number');
				$('#show-support .van-swipe-item .van-multi-ellipsis--l2').text('Choose your lucky number or color');
			});

			$('#tab_support .item:eq(2)').click(function (e) {
				e.preventDefault();
				let action = $(this).children().children().children();
				action.attr('src', '/images/support3.png');
				$('#show-support .van-swipe-item .van-ellipsis').text('Place a bet');
				$('#show-support .van-swipe-item .van-multi-ellipsis--l2').text('Choose the amount of money you want to bet and confirm');
			});

			$('#tab_support .item:eq(3)').click(function (e) {
				e.preventDefault();
				let action = $(this).children().children().children();
				action.attr('src', '/images/support4.png');
				$('#show-support .van-swipe-item .van-ellipsis').text('Win the Prize');
				$('#show-support .van-swipe-item .van-multi-ellipsis--l2').text('When you choose a lucky number for the current round, the system will automatically add the prize money to your balance');
			});

			let count = 0;
			let element = document.querySelector('.van-swipe__track');
			setInterval(() => {
				let getWBody = $('.navbar').width();
				$(`.van-swipe__indicator`).removeClass('van-swipe__indicator--active');
				$(`.van-swipe__indicator`).css("backgroundColor", "");
				$(`.van-swipe__indicator:eq(${count})`).addClass('van-swipe__indicator--active');
				$(`.van-swipe__indicator:eq(${count})`).css("backgroundColor", "rgb(242, 65, 59)");
				if (element) {
					if (count == 0) {
						element.style = `width: 1448px; transition-duration: 500ms; transform: translateX(-${getWBody}px);`;
					} else if (count == 1) {
						element.style = `width: 1448px; transition-duration: 500ms; transform: translateX(-${getWBody * 2}px);`;
					} else if (count == 2) {
						element.style = `width: 1448px; transition-duration: 500ms; transform: translateX(-${getWBody * 3}px);`;
					} else if (count == 3) {
						count = -1;
						element.style = `width: 1448px; transition-duration: 0ms; transform: translateX(0px);`;
					}
				}
				count++;
			}, 2500);

			function cownDownTimer() {
				let countDownDate = new Date("2023-11-01T23:59:59.9999999+01:00").getTime();
				setInterval(function () {
					let now = new Date().getTime();
					let distance = now - countDownDate;
					let days = Math.floor(distance / (1000 * 60 * 60 * 24));
					let hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
					let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
					let seconds = Math.floor((distance % (1000 * 60)) / 1000);

					$('.list-flip_nums .flip-num:eq(0) .top').text((days < 10) ? `0${days}` : days);
					$('.list-flip_nums .flip-num:eq(0) .bottom-card').removeClass('flipX');
					$('.list-flip_nums .flip-num:eq(0) .back .c-tc').text((days + 1 < 10) ? `0${days + 1}` : days + 1);
					if (seconds >= 59 && minutes >= 59 && hours >= 23) {
						setTimeout(() => {
							$('.list-flip_nums .flip-num:eq(0) .bottom-card').addClass('flipX');
						}, 100);
					}

					$('.list-flip_nums .flip-num:eq(1) .top').text((hours < 10) ? `0${hours}` : hours);
					$('.list-flip_nums .flip-num:eq(1) .bottom-card').removeClass('flipX');
					$('.list-flip_nums .flip-num:eq(1) .back .c-tc').text((hours + 1 < 10) ? `0${hours + 1}` : hours + 1);
					if (seconds >= 59 && minutes >= 59) {
						setTimeout(() => {
							$('.list-flip_nums .flip-num:eq(1) .bottom-card').addClass('flipX');
						}, 100);
					}

					$('.list-flip_nums .flip-num:eq(2) .top').text((minutes < 10) ? `0${minutes}` : minutes);
					$('.list-flip_nums .flip-num:eq(2) .bottom-card').removeClass('flipX');
					$('.list-flip_nums .flip-num:eq(2) .back .c-tc').text((minutes + 1 < 10) ? `0${minutes + 1}` : minutes + 1);
					if (seconds >= 59) {
						setTimeout(() => {
							$('.list-flip_nums .flip-num:eq(2) .bottom-card').addClass('flipX');
						}, 100);
					}

					$('.list-flip_nums .flip-num:eq(3) .bottom-card').removeClass('flipX');
					$('.list-flip_nums .flip-num:eq(3) .top').text((seconds < 10) ? `0${seconds}` : seconds);
					$('.list-flip_nums .flip-num:eq(3) .back .c-tc').text((seconds + 1 < 10) ? `0${seconds + 1}` : seconds + 1);
					setTimeout(() => {
						$('.list-flip_nums .flip-num:eq(3) .bottom-card').addClass('flipX');
					}, 100);
				}, 1000);
			};
			cownDownTimer();
		});
	</script>
	<script>
		$(window).on('load', function () {
			$('.Loading').fadeOut(0);
		});
		function makeid(length) {
			var result = '';
			var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
			var charactersLength = characters.length;
			for (var i = 0; i < length; i++) {
				result += characters.charAt(Math.floor(Math.random() * charactersLength));
			}
			return result;
		}

		function randMoney(max, min) {
			var result = Math.floor(Math.random() * (max - min + 1) ) + min;
			return result;
		}

		let wingo = '';
		let k5d = '';
		let k3 = '';
		let top_nap = '';
		let name = '';
		let money = 0;
		let player = 0;
		function CreatMemJoin() {
			for (let i = 0; i < 4; i++) {
				name = makeid(5);
				money = randMoney(1, 99);
				point = randMoney(01,99);
				wingo +=
				`
				<div data-v-39efd474="" class="van-swipe-item" style="height: 40px;">
					<div data-v-39efd474="" class="swiper-item">
						<div data-v-39efd474="" class="c-row c-row-between c-row-middle item">
							<img data-v-39efd474="" src="/images/avatar.cfa8dd9d.svg" class="img">
							<div data-v-39efd474="" class="info c-row c-row-between">
								<div data-v-39efd474="" class="m-l-10 name">Member${name}</div>
								<div data-v-39efd474="" class="c-row c-row-middle-center">
									<span data-v-39efd474="" class="u-p-r-10">Bet &nbsp;₹</span>
									<span data-v-39efd474="" class="price"> ${money}.${point}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				`;
				name = makeid(5);
				money = randMoney(1, 99);
				point = randMoney(01,99);
				k5d += 
				`
				<div data-v-39efd474="" class="van-swipe-item" style="height: 40px;">
					<div data-v-39efd474="" class="swiper-item">
						<div data-v-39efd474="" class="c-row c-row-between c-row-middle item">
							<img data-v-39efd474="" src="/images/avatar.cfa8dd9d.svg" class="img">
							<div data-v-39efd474="" class="info c-row c-row-between">
								<div data-v-39efd474="" class="m-l-10 name">Member${name}</div>
								<div data-v-39efd474="" class="c-row c-row-middle-center">
									<span data-v-39efd474="" class="u-p-r-10">Bet &nbsp;₹ </span>
									<span data-v-39efd474="" class="price"> ${money}.${point}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				`
				;

				name = makeid(5);
				money = randMoney(1, 99);
				point = randMoney(01,99);
				k3 += 
				`
				<div data-v-39efd474="" class="van-swipe-item" style="height: 40px;">
					<div data-v-39efd474="" class="swiper-item">
						<div data-v-39efd474="" class="c-row c-row-between c-row-middle item">
							<img data-v-39efd474="" src="/images/avatar.cfa8dd9d.svg" class="img">
							<div data-v-39efd474="" class="info c-row c-row-between">
								<div data-v-39efd474="" class="m-l-10 name">Member${name}</div>
								<div data-v-39efd474="" class="c-row c-row-middle-center">
									<span data-v-39efd474="" class="u-p-r-10">Bet &nbsp;₹</span>
									<span data-v-39efd474="" class="price"> ${money}.${point}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				`
				;
			}
			for (let i = 0; i < 4; i++) {
				let list_recharge = '';
				for (let i = 0; i < 4; i++) {
					name = makeid(5);
					money = randMoney(9999, 300);
					point = randMoney(01, 99);
					const d = new Date();
					let hour = d.getHours();
					let minutes = d.getMinutes();
					list_recharge += `
					<div data-v-e52eeae0="" class="swiper-item">
						<div data-v-e52eeae0="" class="c-row c-row-between item">
							<img data-v-e52eeae0="" src="/images/avatar.cfa8dd9d.svg" class="img">
							<div data-v-e52eeae0="" class="info c-row c-row-between">
								<div data-v-e52eeae0="" class="m-l-10 name">Member${name}</div>
								<div data-v-e52eeae0="" class="price">
									<span data-v-e52eeae0="">₹&nbsp; ${money}.${point}</span>
								</div>
								<div data-v-e52eeae0="" class="time">${hour}:${minutes}</div>
							</div>
						</div>
					</div>
					`;
				}
				top_nap += 
				`
				<div data-v-e52eeae0="" class="item van-swipe-item" style="height: 180px; ">
					${list_recharge}
				</div>
				`;
			}
			$('#wingo').html(wingo);
			$('#k5d').html(k5d);
			$('#k3').html(k3);
			$('#top-recharge').html(top_nap);
		}


		CreatMemJoin();
		let translate = 0;
		let count = 0;
		let top_recharge = -358;
		setInterval(() => {
			count += 1;
			translate -= 40;
			top_recharge -= 180;
			$('#wingo').css({
				'transform': `translateY(${translate}px)`,
			});
			$('#k5d').css({
				'transform': `translateY(${translate}px)`,
			});

			$('#k3').css({
				'transform': `translateY(${translate}px)`,
			});

			$('#top-recharge').css({
				'transform': `translateY(${top_recharge}px)`,
			});
			if(count == 3) {
				count = 0;
				translate = 40;
				top_recharge = -358;
				CreatMemJoin();
			};
		}, 3000);
		
	</script>
	<script>
	
	document.getElementById('player').innerHTML = create_random_number(4)
	
	function create_random_number (string_length){
	
	   var random_string = '';
	   var characters = '987654321'
	   for(var i, i = 0; i < string_length; i++){
	   
	     random_string += characters.charAt(Math.floor(Math.random() * characters.length))
	   
	   }
	   return random_string
	}
	
	</script>
	<script>
	
	document.getElementById('betting').innerHTML = create_random_number(5)
	
	function create_random_number (string_length){
	
	   var random_string = '';
	   var characters = '123456789'
	   for(var i, i = 0; i < string_length; i++){
	   
	     random_string += characters.charAt(Math.floor(Math.random() * characters.length))
	   
	   }
	   return random_string
	}
	
	</script>
	<script>
	
	document.getElementById('online').innerHTML = create_random_number(3)
	
	function create_random_number (string_length){
	
	   var random_string = '';
	   var characters = '123456789'
	   for(var i, i = 0; i < string_length; i++){
	   
	     random_string += characters.charAt(Math.floor(Math.random() * characters.length))
	   
	   }
	   return random_string
	}
	
	</script>
</body>

</html>