<!DOCTYPE html>
<html translate="no" data-dpr="1" style="font-size: 48.16px">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="robots" content="noindex,nofollow" />
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport" />
    <title>Meta AI</title>
    <link href="/css/wallet/main.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-1.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-2.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-3.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/images/bitbug_favicon.png" type="image/x-icon" />
    <style>
        html,
        body {
            height: 100%;
            width: 100%;
            background-color: #9195a3;
            padding: 0;
            margin: 0;
        }
        .mian[data-v-439e6f58]{background-color:#2a2a2a}.mian .banner[data-v-439e6f58]{position:relative}.mian .banner
        .img[data-v-439e6f58]{height:4.53333rem;width:100%}.mian .banner
        .com[data-v-439e6f58]{position:absolute;top:50%;right:.53333rem;z-index:888;transform:translateY(-65%)}.mian
        .banner .com .logo[data-v-439e6f58]{width:3.2rem;height:auto}.mian .banner .com
        .number[data-v-439e6f58],.mian .banner .com
        .txt[data-v-439e6f58]{font-size:.42667rem;font-weight:600;color:#fff}.mian .banner .com
        .number[data-v-439e6f58]{height:.8rem;line-height:.8rem;text-align:center;border:.02667rem solid #eee}.mian
        .list[data-v-439e6f58]{padding:.4rem}.mian .list
        .item[data-v-439e6f58]{height:1.33333rem;background:#3b3b3b;border-radius:.24rem;margin-bottom:.53333rem;font-size:.42667rem;padding:0
        .4rem}
        </style>
</head>

<body style="font-size: 12px">
    <div id="app">
        <div data-v-439e6f58="" class="mian">
            <div data-v-106b99c8="" data-v-439e6f58="" class="navbar">
                <div data-v-106b99c8="" class="navbar-left" onclick="location.href='/mian'">
                    <div data-v-106b99c8="" class="bank c-row c-row-middle-center">
                        <img data-v-106b99c8="" src="/images/back.c3244ab0_1.png" class="navbar-back" />
                    </div>
                </div>
                <div data-v-106b99c8="" class="navbar-title">About Us</div>
                <div data-v-106b99c8="" class="navbar-right"></div>
            </div>
            <div data-v-439e6f58="" class="banner">
                <img data-v-439e6f58="" width="100%" height="170px" src="/images/bg_about.webp" class="img" />
                <div data-v-439e6f58="" class="com">
                    <img data-v-439e6f58="" width="120px" height="100px"
                        src="/images/METAAI.png" class="logo" />
                  
                    <div data-v-439e6f58="" class="number">V2</div>
                </div>
            </div>
            <div data-v-439e6f58="" class="list m-t-20">
                <div data-v-439e6f58="" class="item c-row c-row-between c-row-middle" onclick="location.href='/about/privacyPolicy'">
                    <div data-v-439e6f58="" class="name">Privacy Policy</div>
                    <i data-v-439e6f58="" class="van-icon van-icon-arrow"
                        style="color: #fff; font-size: 20px">
                        <!---->
                    </i>
                </div>
                <div data-v-439e6f58="" class="item c-row c-row-between c-row-middle" onclick="location.href='/about/riskAgreement'">
                    <div data-v-439e6f58="" class="name">Risk Disclosure Agreement</div>
                    <i data-v-439e6f58="" class="van-icon van-icon-arrow"
                        style="color: #fff; font-size: 20px">
                        <!---->
                    </i>
                </div>
            </div>
            <div data-v-7692a079="" data-v-439e6f58="" class="Loading c-row c-row-middle-center" style="display: none">
                <div data-v-7692a079="" class="van-loading van-loading--circular">
                    <span data-v-7692a079="" class="van-loading__spinner van-loading__spinner--circular"
                        style="color: rgb(242, 65, 59)"><svg data-v-7692a079="" viewBox="25 25 50 50"
                            class="van-loading__circular">
                            <circle data-v-7692a079="" cx="50" cy="50" r="20" fill="none"></circle>
                        </svg></span>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/client.js"></script>
</body>

</html>