<div data-v-a9660e98="" class="box c-row">
    <div data-v-a9660e98="" class="item c-tc">
        <div data-v-a9660e98="" class="circular c-row c-row-middle-center c-tc">
            <span data-v-a9660e98="" class="li">?</span>
        </div>
        <div data-v-a9660e98="" class="img c-row c-row-center p-b-10" onclick="location.href='/win'">
            <div data-v-a9660e98="" class="van-image" style="width: 30px; height: 30px">
                <img src="/images/icon_clock-red.webp" class="van-image__img" />
            </div>
            <div data-v-a9660e98="" class="van-image"
                style="width: 30px; height: 30px; display: none">
                <img src="/images/icon_clock-gerrn.webp" class="van-image__img" />
            </div>
            <i data-v-a9660e98="" class="triangle"></i>
        </div>
        <div data-v-a9660e98="" class="txt c-tc">1 min</div>
    </div>
    <div data-v-a9660e98="" class="item c-tc">
        <div data-v-a9660e98="" class="circular c-row c-row-middle-center c-tc">
            <span data-v-a9660e98="" class="li">?</span>
        </div>
        <div data-v-a9660e98="" class="img c-row c-row-center p-b-10" onclick="location.href='/win/3'">
            <div data-v-a9660e98="" class="van-image"
                style="width: 30px; height: 30px; display: none">
                <img src="/images/icon_clock-red.webp" class="van-image__img" />
            </div>
            <div data-v-a9660e98="" class="van-image" style="width: 30px; height: 30px">
                <img src="/images/icon_clock-gerrn.webp" class="van-image__img" />
            </div>
            <i data-v-a9660e98="" class="triangle"></i>
        </div>
        <div data-v-a9660e98="" class="txt c-tc">3 min</div>
    </div>
    <div data-v-a9660e98="" class="item c-tc">
        <div data-v-a9660e98="" class="circular c-row c-row-middle-center c-tc">
            <span data-v-a9660e98="" class="li">?</span>
        </div>
        <div data-v-a9660e98="" class="img c-row c-row-center p-b-10" onclick="location.href='/win/5'">
            <div data-v-a9660e98="" class="van-image"
                style="width: 30px; height: 30px; display: none">
                <img src="/images/icon_clock-red.webp" class="van-image__img" />
            </div>
            <div data-v-a9660e98="" class="van-image" style="width: 30px; height: 30px">
                <img src="/images/icon_clock-gerrn.webp" class="van-image__img" />
            </div>
            <i data-v-a9660e98="" class="triangle"></i>
        </div>
        <div data-v-a9660e98="" class="txt c-tc">5 min</div>
    </div>
    <div data-v-a9660e98="" class="item c-tc">
        <div data-v-a9660e98="" class="circular c-row c-row-middle-center c-tc">
            <span data-v-a9660e98="" class="li">?</span>
        </div>
        <div data-v-a9660e98="" class="img c-row c-row-center p-b-10" onclick="location.href='/win/10'">
            <div data-v-a9660e98="" class="van-image"
                style="width: 30px; height: 30px; display: none">
                <img src="/images/icon_clock-red.webp" class="van-image__img" />
            </div>
            <div data-v-a9660e98="" class="van-image" style="width: 30px; height: 30px">
                <img src="/images/icon_clock-gerrn.webp" class="van-image__img" />
            </div>
            <i data-v-a9660e98="" class="triangle"></i>
        </div>
        <div data-v-a9660e98="" class="txt c-tc">10 min</div>
    </div>
</div> 