<div data-v-a9660e98="" class="tab c-row c-row-between">
    <div data-v-a9660e98="" class="li c-row c-row-center">
        <span data-v-a9660e98="" class="txt action">
            Game History
        </span>
    </div>
    <!-- <div data-v-a9660e98="" class="li c-row c-row-center">
        <span data-v-a9660e98="" class="txt"> Trend </span>
    </div> -->
    <div data-v-a9660e98="" class="li c-row c-row-center">
        <span data-v-a9660e98="" class="txt"> My Bets </span>
    </div>
</div>
<div data-v-a9660e98="" class="con-box">
    <div data-v-a9660e98="" class="list m-t-10">
        <div data-v-a9660e98="" class="wrap">
            <div data-v-a9660e98="" class="c-tc van-row">
                <div data-v-a9660e98="" class="van-col van-col--8">Draw</div>
                <div data-v-a9660e98="" class="van-col van-col--5">
                    Number
                </div>
                <div data-v-a9660e98="" class="van-col van-col--5">
                    Big/Small
                </div>
                <div data-v-a9660e98="" class="van-col van-col--6">
                    Colour
                </div>
            </div>
        </div>
        <div data-v-a9660e98="">
            <div data-v-a9660e98="" class="hb"></div>
        </div>
        <div data-v-a9660e98="" class="list-fooder"></div>
    </div>
    <div data-v-a9660e98="" class="page-nav c-row c-row-center c-tc">
        <div data-v-a9660e98="" class="arr c-row c-row-middle-center block-click">
            <i data-v-a9660e98="" class="van-icon van-icon-arrow-left icon" style="font-size: 20px">
                <!---->
            </i>
        </div>
        <div data-v-a9660e98="" class="number"></div>
        <div data-v-a9660e98="" class="arr c-row c-row-middle-center action">
            <i data-v-a9660e98="" class="van-icon van-icon-arrow icon action" style="font-size: 20px">
                <!---->
            </i>
        </div>
    </div>
</div>
<!-- <div data-v-a9660e98="" class="con-box p-b-20" style="display: none">
    <div data-v-a9660e98="" class="list m-t-10">
        <div data-v-a9660e98="" class="wrap">
            <div data-v-a9660e98="" class="c-tc van-row">
                <div data-v-a9660e98="" class="van-col van-col--8">Draw</div>
                <div data-v-a9660e98="" class="van-col van-col--16">
                    Quantity
                </div>
            </div>
        </div>
        <div data-v-a9660e98="" class="p-t-5 p-b-5">
            <div data-v-a9660e98="" class="van-empty">
                <div class="van-empty__image">
                    <img src="https://img.yzcdn.cn/vant/empty-image-default.png" />
                </div>
                <p class="van-empty__description">No Data</p>
            </div>
        </div>
        <div data-v-a9660e98="" class="list-fooder"></div>
    </div>
    <div data-v-a9660e98="" class="page-nav c-row c-row-center c-tc">
        <div data-v-a9660e98="" class="arr c-row c-row-middle-center">
            <i data-v-a9660e98="" class="van-icon van-icon-arrow-left icon" style="font-size: 20px">
            </i>
        </div>
        <div data-v-a9660e98="" class="number">1/1965</div>
        <div data-v-a9660e98="" class="arr c-row c-row-middle-center action">
            <i data-v-a9660e98="" class="van-icon van-icon-arrow icon action" style="font-size: 20px">
            </i>
        </div>
    </div>
</div> -->
<div data-v-a9660e98="" class="con-box p-b-20" style="display: none">
    <div data-v-a9660e98="" class="c-row c-flew-end p-r-20">
        <div data-v-a9660e98="" class="bettingMore c-tc c-row c-row-middle-center">
            More<i data-v-a9660e98="" class="van-icon van-icon-arrow"
                style="color: rgb(84, 94, 104); font-size: 15px">
                <!---->
            </i>
        </div>
    </div>
    <div data-v-a9660e98="" class="list m-t-10">
        <div data-v-a9660e98="" class="p-t-5 p-b-5" id="history-order">
            
        </div>
        <div data-v-a9660e98="" class="list-fooder"></div>
    </div>
    <!---->
    <div data-v-a9660e98="" class="page-nav c-row c-row-center c-tc">
        <div data-v-a9660e98="" class="arr c-row c-row-middle-center">
            <i data-v-a9660e98="" class="van-icon van-icon-arrow-left icon" style="font-size: 20px">
                <!---->
            </i>
        </div>
        <div data-v-a9660e98="" class="number"></div>
        <div data-v-a9660e98="" class="arr c-row c-row-middle-center action">
            <i data-v-a9660e98="" class="van-icon van-icon-arrow icon action" style="font-size: 20px">
                <!---->
            </i>
        </div>
    </div>
</div>